.hs_cos_wrapper_type_rich_text {
  margin-top: 1em;
  h1 {
    color: $defDarkBlue;
  }

  h2 {
    color: $defLightBlueLight;
  }

  h3,
  h2 {
    color: $defDarkBlueLight;
    font-style: italic;
  }
  p {
    color: #333;
  }
}
