
//base Colors


//---- white ----//
$white: #fff;

//---- green ----//
$green:#00b100;
$greenLight:#00f900;

//---- green ----//
$red: #e30613;


//---- Black ----//
$black: #373737;
$blackLight: #646464;

//---- grey ----//
$grey: #dcdcdc;
$greyLight: #CACACA;
$grayDark: #4a4a4a;
$grayDarker: #333;

//---- silver ---- //

$silver: #F2F2F2;
$silverLight: #F6F6F6;
