


  <section >
      <div class="container-fluid" style="position:relative;">
        <compontent src="../modules/general/video-banner"></compontent>

        <div class="hidden-xs hidden-sm">
          <compontent src="../modules/general/circle"></compontent>
        </div>
      </div>


       <compontent src="../modules/global/logo"></compontent>
       <compontent src="../modules/general/text-logo"></compontent>

     <div>
  </section>
  <section>
    <div class="container nopadding" >
      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 nopadding" style="position:relative;">
        <compontent src="../modules/general/circle-rectangle-small"></compontent>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-12 visible-xs mobile-circle visible-sm nopadding" style="position:relative;">
          <compontent src="../modules/general/circle"></compontent>
      </div>

    </div>

    <div class="container"  >
      <compontent src="../modules/general/video"></compontent>
      <compontent src="../modules/global/block-12"></compontent>

      <compontent src="../modules/global/newsblock"></compontent>
      <compontent src="../modules/general/events"></compontent>


    </div>
    <div class="container-fluid" >
      <div class="row">
          <div class="banner" style="height:600px;background-image: url(https://www.asociety.se/hubfs/Assistera/Images/Default/Soffa_Kaffekopp_Malmo%CC%88.jpg?t=1519305630030);
                background-repeat: no-repeat;background-size: cover;
                background-position-y: 100%">
              <div class="overlay-up"></div>
           </div>
       </div>
   </div>
</section>
