<div class="container">
<compontent src="../modules/general/eventsarchive"></compontent>

  <div class="row">
    <div class="col-md-12">

      <div class="news-archive-container row">

          <div class="col-md-12">
              <div class="row">
                <h1 class="col-md-3 title-left">
                  Nyheter
                </h1>
              </div>
          </div>

          <div class="col-md-12">
            <div  class="news-archive row">
              <div class="col-md-3 text-right hidden-xs">
                <div class="news-archive-image-wrapper">
                  <div class="news-image-archive" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
                </div>
              </div>
              <div class="col-md-9">
                <h4 class="date">
                  2018-01-05
                </h4>
                <h4>
                  Rekryterare/Partner manager med fokus på relationer
                </h4>
                <p>
                Lorem ipsum dolor sit amet, velit morbi egestas bibendum neque luctus. Tempus nulla nibh, wisi ut et, id senectus vehicula in suscipit luctus metus. Fermentum donec sapien.
                Dis vulputate ac erat convallis diam, dolor aliquet curabitur, condimentum placerat scelerisque sit, mollis maecenas ad fermentum tincidunt laoreet vivamus.
                </p>
                <h4 class="date">
                  Läs mer…
                </h4>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div  class="news-archive row">
              <div class="col-md-3 text-right hidden-xs">
                <div class="news-archive-image-wrapper">
                  <div class="news-image-archive" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
                </div>
              </div>
              <div class="col-md-9">
                <h4 class="date">
                  2018-01-05
                </h4>
                <h4>
                  Rekryterare/Partner manager med fokus på relationer
                </h4>
                <p>
                Lorem ipsum dolor sit amet, velit morbi egestas bibendum neque luctus. Tempus nulla nibh, wisi ut et, id senectus vehicula in suscipit luctus metus. Fermentum donec sapien.
                Dis vulputate ac erat convallis diam, dolor aliquet curabitur, condimentum placerat scelerisque sit, mollis maecenas ad fermentum tincidunt laoreet vivamus.
                </p>
                <h4 class="date">
                  Läs mer…
                </h4>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div  class="news-archive row">
              <div class="col-md-3 text-right hidden-xs">
                <div class="news-archive-image-wrapper">
                  <div class="news-image-archive" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
                </div>
              </div>
              <div class="col-md-9">
                <h4 class="date">
                  2018-01-05
                </h4>
                <h4>
                  Rekryterare/Partner manager med fokus på relationer
                </h4>
                <p>
                Lorem ipsum dolor sit amet, velit morbi egestas bibendum neque luctus. Tempus nulla nibh, wisi ut et, id senectus vehicula in suscipit luctus metus. Fermentum donec sapien.
                Dis vulputate ac erat convallis diam, dolor aliquet curabitur, condimentum placerat scelerisque sit, mollis maecenas ad fermentum tincidunt laoreet vivamus.
                </p>
                <h4 class="date">
                  Läs mer…
                </h4>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div  class="news-archive row">
              <div class="col-md-3 text-right hidden-xs">
                <div class="news-archive-image-wrapper">
                  <div class="news-image-archive" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
                </div>
              </div>
              <div class="col-md-9">
                <h4 class="date">
                  2018-01-05
                </h4>
                <h4>
                  Rekryterare/Partner manager med fokus på relationer
                </h4>
                <p>
                Lorem ipsum dolor sit amet, velit morbi egestas bibendum neque luctus. Tempus nulla nibh, wisi ut et, id senectus vehicula in suscipit luctus metus. Fermentum donec sapien.
                Dis vulputate ac erat convallis diam, dolor aliquet curabitur, condimentum placerat scelerisque sit, mollis maecenas ad fermentum tincidunt laoreet vivamus.
                </p>
                <h4 class="date">
                  Läs mer…
                </h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
