<div class="site-wrapper">
	<div class="container">
			<div class="box-wrapper">
				<div class="row base--white">
					<div class="col-lg-2">
						<compontent src="../modules/global/sidebar" ></compontent>
					</div>
						<div class="col-lg-10">
							<compontent src="../contents/trailing"></compontent>
						</div>
				</div>
			</div>

			<div class="box-wrapper">
				<div class="row base--white">
					<div class="col-lg-12">
						<compontent src="../modules/global/popular"></compontent>
					</div>
				</div>
			</div>
	</div>

	<compontent src="../modules/global/footer"></compontent>
</div>
