<div class="container">
		<compontent src="../modules/global/header" ></compontent>
</div>
<div class="site-wrapper">
	<compontent src="../modules/global/addons"></compontent>
	<div class="container">
			<div class="box-wrapper">
			<routes scope="{{project}}" savestate id="pages" trailing={{trailing}}>
				[
						{path:'/', render:'/components/templates/home'},
					  {path:'/index', render:'/components/templates/home'},
					  {path:'/cart', render:'/components/templates/standard'},
					  {path:'/about', render:'/components/templates/standard'},

						{path:'/en/', render:'/components/templates/home'},
						{path:'/en/index', render:'/components/templates/home'},
					 	{path:'/en/cart', render:'/components/templates/standard'},
					 	{path:'/en/about', render:'/components/templates/standard'},

						{path:'/sv/', render:'/components/templates/home'},
						{path:'/sv/index', render:'/components/templates/home'},
						{path:'/sv/cart', render:'/components/templates/standard'},
						{path:'/sv/about', render:'/components/templates/standard'},

						{path:'/.*', render:'/components/templates/error404'}
					]
			</routes>
		</div>


	</div>

	<compontent src="../modules/global/footer"></compontent>
</div>
