<compontent src="/Components/bottom-editor/bottom-editor.html"></compontent>
<compontent src="/Components/edit-style/edit-style.html"></compontent>
<compontent src="/Components/floating-menu/floating-menu.html"  au="eye.getPreferences().lang == 'en'" data='
{
  "editstyle":"Edit style",
  "edithtml":"Edit html",
  "edit":"Edit",
  "edittext":"Edit text",
  "editrichtext":"Edit rich text",
  "template":"manage component",
  "audience":"manage audience",
  "variations":"manage variation",
  "component":"Insert component",
  "duplicate":"Duplicate component",
  "select":"Select",
  "parent":"Parent",
  "children":"Parent",
  "copy":"Copy",
  "cut":"Cut",
  "paste":"Paste",
  "insidefirst":"Inside first",
  "insidelast":"Inside first",
  "before":"Before",
  "after":"Before",
  "replacewith":"Replace with",
  "addClass":"Add Class",
  "addlink":"Add link",
  "hide":"Hide",
  "remove":"Remove"

}' ></compontent>



<compontent src="/Components/floating-menu/floating-menu.html"  au="eye.getPreferences().lang == 'pr'" data='
{
  "style":"Edit style",
  "template":"Edit component",
  "audience":"Edit audience",
  "variations":"Edit variation",
  "component":"insert component",
  "select":"Select",
  "parent":"Parent",
  "children":"Parent",
  "copy":"Copy",
  "cut":"Cut",
  "paste":"Paste",
  "insidefirst":"Inside first",
  "insidelast":"Inside first",
  "before":"Before",
  "after":"Before",
  "replacewith":"Replace with",
  "addClass":"Add Class",
  "addlink":"Add link",
  "hide":"Hide",
  "remove":"Remove"

}' ></compontent>
