
<compontent src="../modules/global/header" ></compontent>
<div class="site-wrapper">
	<routes scope="{{project}}" savestate id="pages" trailing={{trailing}}>
		[
				{path:'/', render:'/components/templates/home'},
				{path:'/produkter', render:'/components/templates/standard'},
				{path:'/news-section', render:'/components/templates/standard'},
				{path:'/.*', render:'/components/templates/error404'}
			]
	</routes>

	<!--<compontent src="../modules/global/footer"></compontent> footer -->
</div>
<!--<compontent src="../modules/general/bubble"></compontent> Removing bubbles for the moment-->

