<section class="section hidden-xs">
    <div class="container no-padding-xs">
        
        <div class="arrow-nav">
            <ul class="arrow-nav-list">
               <a href="#" class="arrow-nav-list-item"><span>Drug discovery</span></a>
               <a href="#" class="arrow-nav-list-item"><span>Pre-Clinical Development</span></a>
               <a href="#" class="arrow-nav-list-item"><span>Manufacturer</span></a>
               <a href="#" class="arrow-nav-list-item"><span>Clinical Phase |-||</span></a>
               <a href="#" class="arrow-nav-list-item"><span>Postmarketing</span></a>
               <a href="#" class="arrow-nav-list-item"><span>Diagnostica</span></a>
               <a href="#" class="arrow-nav-list-item active"><span>Patient monitoring</span></a>
            </ul>
        </div>

    </div>
</section>