
<div class="container">
  <div class="bxslider">
    <div>
      <div style="width:100%;height:500px;background-image: url(https://cdn2.hubspot.net/hubfs/2441243/default/coffee1.jpg);background-repeat: no-repeat;background-size: cover;">
      </div>

    </div>
    <div>
      <div src="https://cdn2.hubspot.net/hubfs/2441243/default/coffee2.jpg" style="width:100%;height:500px;background-image: url(https://cdn2.hubspot.net/hubfs/2441243/default/coffee2.jpg);background-repeat: no-repeat;background-size: cover;">
      </div>
    </div>
    <div>

      <div style="width:100%;height:500px;background-image: url(https://cdn2.hubspot.net/hubfs/2441243/default/coffee3.jpg);background-repeat: no-repeat;background-size: cover;">
      </div>
      <div class="captions">
        <h3>
          Ex nisi consequat aliquip official
        </h3>
        <p>Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna
            pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud
            eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur
            amet tempor ipsum in non cillum.</p>
      </div>
    </div>
  </div>
</div>
<script>

$(function(){
  $('.bxslider').bxSlider({
    mode: 'horizontal',
    captions: false,
    adaptiveHeight:true
  });
});
</script>
