<section class="section">
  <div class="container no-padding-xs">


    <div class="row-flex colored-blocks-row">
      <div class="col-flex-md-6 col-flex-xs-12">
        <div class="colored-blocks-form" style="background-color:var(--scolor2);">
          <div class="colored-blocks-form-header">
            <h3>Lorem dolor sit amet</h3>
            <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseLeft" aria-expanded="false" aria-controls="collapseLeft">
              <i class="fa fa-plus"></i>
              <i class="fa fa-minus"></i>
            </a>
          </div>
          <div class="collapse in" id="collapseLeft">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget feugiat augue. Duis tempus nec dui sit amet
              tempor. Sed at mattis elit. Nullam tincidunt semper tempus. Praesent vel lectus vel massa varius lacinia a
              sed dui. Duis convallis diam quis ipsum volutpat, et iaculis erat auctor. Maecenas sed ultricies eros. Aenean
              in placerat nisi, at facilisis quam. Donec ac feugiat nibh, eget fermentum nisl. Ut viverra ex vel turpis semper,
              non imperdiet leo tincidunt. Aliquam vehicula risus sed lacinia semper. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos. Vivamus nisi ex, iaculis vitae suscipit a, sodales id
              neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget feugiat augue. Duis tempus nec dui
              sit amet tempor. Sed at mattis elit. Nullam tincidunt semper tempus. Praesent vel lectus vel massa varius lacinia
              a sed dui. Duis convallis diam quis ipsum volutpat, et iaculis erat auctor. Maecenas sed ultricies eros. Aenean
              in placerat nisi, at facilisis quam.</p>
          </div>
        </div>
      </div>


      <div class="col-flex-md-6 col-flex-xs-12">
        <div class="colored-blocks-form" style="background-color:var(--scolor9);">
          <div class="colored-blocks-form-header">
            <h3>Lorem dolor sit amet</h3>
            <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseRight" aria-expanded="false" aria-controls="collapseRight">
              <i class="fa fa-plus"></i>
              <i class="fa fa-minus"></i>
            </a>
          </div>
          <div class="collapse in" id="collapseRight">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget feugiat augue. Duis tempus nec dui sit amet
              tempor. Sed at mattis elit. Nullam tincidunt semper tempus. Praesent vel lectus vel massa varius lacinia a
              sed dui. Duis convallis diam quis ipsum volutpat, et iaculis erat auctor. Maecenas sed ultricies eros. Aenean
              in placerat nisi, at facilisis quam. Donec ac feugiat nibh, eget fermentum nisl. Ut viverra ex vel turpis semper,
              non imperdiet leo tincidunt. Aliquam vehicula risus sed lacinia semper. Class aptent taciti sociosqu ad litora
              torquent per conubia nostra, per inceptos himenaeos. Vivamus nisi ex, iaculis vitae suscipit a, sodales id
              neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget feugiat augue. Duis tempus nec dui
              sit amet tempor. Maecenas sed ultricies eros.</p>
            <form class="form-inline">
              <div class="form-group form-group-lg">
                <input type="email" class="form-control" id="report-download">
                <button class="btn btn-circle" type="submit" name="submit">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
</section>
