<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xs-12 employee">
                        <div class="employee-box" style="background:var(--scolor7);">
                            <div class="image-box" style="background-image: url('/projectApi/{{project}}/static/images/person-1-1.png');"><img class="avatar-image" src="https://cdn2.hubspot.net/hubfs/2441243/default/male-nurse.jpg?t=1523518348397"></div>
                            <div class="description">
                                <h4>John doe</h4>
                                <p>CEO</p>
                                <p><a href="mailto:lars.kry@sigma.se">lars.kry@sigma.se</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xs-12 employee">
                        <div class="employee-box" style="background:var(--scolor7);">
                            <div class="image-box" style="background-image: url('/projectApi/{{project}}/static/images/person-1-1.png');"><img class="avatar-image" src="https://cdn2.hubspot.net/hubfs/2441243/default/male-nurse.jpg?t=1523518348397"></div>
                            <div class="description">
                                <h4>John doe</h4>
                                <p>CEO</p>
                                <p><a href="mailto:lars.kry@sigma.se">lars.kry@sigma.se</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xs-12 employee">
                        <div class="employee-box" style="background:var(--scolor7);">
                            <div class="image-box" style="background-image: url('/projectApi/{{project}}/static/images/person-1-1.png');"><img class="avatar-image" src="https://cdn2.hubspot.net/hubfs/2441243/default/male-nurse.jpg?t=1523518348397"></div>
                            <div class="description">
                                <h4>John doe</h4>
                                <p>CEO</p>
                                <p><a href="mailto:lars.kry@sigma.se">lars.kry@sigma.se</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xs-12 employee">
                        <div class="employee-box" style="background:var(--scolor7);">
                            <div class="image-box" style="background-image: url('/projectApi/{{project}}/static/images/person-1-1.png');"><img class="avatar-image" src="https://cdn2.hubspot.net/hubfs/2441243/default/male-nurse.jpg?t=1523518348397"></div>
                            <div class="description">
                                <h4>John doe</h4>
                                <p>CEO</p>
                                <p><a href="mailto:lars.kry@sigma.se">lars.kry@sigma.se</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>