<section class="section">
    <div class="container no-padding-xs">
        <div class="row">
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseLeft" aria-expanded="false" aria-controls="collapseLeft"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseLeft">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur amet tempor ipsum in non cillum. Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur amet tempor ipsum in non cillum. Lorem deserunt officia consectetur amet tempor ipsum in non cillum 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseMiddle" aria-expanded="false" aria-controls="collapseMiddle"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseMiddle">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur amet tempor ipsum in non cillum.Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseRight" aria-expanded="false" aria-controls="collapseRight"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseRight">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary list">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList" aria-expanded="false" aria-controls="collapseList"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseList">
                        <div class="panel-body-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Product code</span>
                                </div>
                                <div class="list-item">
                                     <span>Product code</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Format</span>
                                </div>
                                <div class="list-item">
                                     <span>Format</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Product code</span>
                                </div>
                                <div class="list-item">
                                     <span>Product code</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Format</span>
                                </div>
                                <div class="list-item">
                                     <span>Format</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>