<section class="section">
    <div class="container no-padding-xs">
        <div class="row">
            <div class="col-xs-12 panel-block">
                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList1" aria-expanded="false" aria-controls="collapseList1"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList1">
                        <div class="three-col-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>