<section class="section">
    <div class="container">
        <div class="row-flex">
            <div class="col-flex-xs-12">
                <h2>lorem ipsum</h2>
            </div>
            <div class="col-flex-xs-12 col-flex-md-4 panel-menu no-padding-xs">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="#collapse1"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse in" id="collapse1">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown1" aria-expanded="false" aria-controls="#dropdown1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown1-1" aria-expanded="false" aria-controls="#dropdown1-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown1-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="#collapse2"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse2">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown2" aria-expanded="false" aria-controls="#dropdown2">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown2">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown2-1" aria-expanded="false" aria-controls="#dropdown2-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown2-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="#collapse3"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse3">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown3" aria-expanded="false" aria-controls="#dropdown3">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown3">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown3-1" aria-expanded="false" aria-controls="#dropdown3-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown3-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-flex-xs-12 col-flex-md-4 panel-menu no-padding-xs">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="#collapse4"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse4">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown4" aria-expanded="false" aria-controls="#dropdown4">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown4">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown4-1" aria-expanded="false" aria-controls="#dropdown4-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown4-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="#collapse5"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse5">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown5" aria-expanded="false" aria-controls="#dropdown5">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown5">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown5-1" aria-expanded="false" aria-controls="#dropdown5-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown5-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="#collapse6"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse6">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown6" aria-expanded="false" aria-controls="#dropdown6">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown6">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown6-1" aria-expanded="false" aria-controls="#dropdown6-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown6-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-flex-xs-12 col-flex-md-4 panel-menu no-padding-xs">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse7">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown7" aria-expanded="false" aria-controls="#dropdown7">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown7">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown7-1" aria-expanded="false" aria-controls="#dropdown7-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown7-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="#collapse8"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse8">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown8" aria-expanded="false" aria-controls="#dropdown8">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown8">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown8-1" aria-expanded="false" aria-controls="#dropdown8-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown8-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">lorem ipsum</h3>
                        <a class="btn collapsed" role="button" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="#collapse9"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-menu collapse" id="collapse9">
                        <ul class="collapsable-menu">
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle collapsed" data-toggle="collapse" href="#dropdown9" aria-expanded="false" aria-controls="#dropdown9">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse" id="dropdown9">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="collapse" href="#dropdown9-1" aria-expanded="false" aria-controls="#dropdown9-1">lorem ipsum</a>
                                <ul class="dropdown-collapse collapse in" id="dropdown9-1">
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                    <li><a href="#" class="">lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                            <li><a href="#" class="">lorem ipsum</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>