<section class="section">
    <div class="container no-padding-xs">
        <div class="row">
            <div class="col-xs-12 col-lg-4 panel-block">
                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseLeft-secondary" aria-expanded="false" aria-controls="collapseLeft-secondary"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseLeft-secondary">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 panel-block">
                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseMiddle-secondary" aria-expanded="false" aria-controls="collapseMiddle-secondary"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseMiddle-secondary">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 panel-block">
                <div class="panel panel-secondary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseRight-secondary" aria-expanded="false" aria-controls="collapseRight-secondary"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseRight-secondary">
                        <div class="panel-body">
                            <p>
                                Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>