<section class="section">
    <div class="container no-padding-xs">
        <div class="row">
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList1" aria-expanded="false" aria-controls="collapseList1"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList1">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList2" aria-expanded="false" aria-controls="collapseList2"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList2">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList3" aria-expanded="false" aria-controls="collapseList3"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList3">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList4" aria-expanded="false" aria-controls="collapseList4"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList4">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList5" aria-expanded="false" aria-controls="collapseList5"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList5">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 panel-block">
                <div class="panel panel-tertiary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseList6" aria-expanded="false" aria-controls="collapseList6"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="panel-body-list collapse in" id="collapseList6">
                        <div class="tertiary-list">
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                            <div class="list-items">
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                                <div class="list-item">
                                     <span>Lorem ipsum</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>