<section class="section">
    <div class="container">

        <div class="person-single">
            <div class="row person-single__row">
                <div class="col-xs-12 col-sm-12 person-single__column hidden visible-sm visible-xs">
                    <div class="person-single__item">
                        <div class="person-single__item__image">
                            <img src="/projectApi/{{project}}/static/images/person-1-1.png" class="img-responsive">
                        </div>
                        <div class="person-single__item__right">
                            <div>
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 person-single__column person-single__column--text cnt-spacing">
                    <h1>Namn Namnsson</h1>
                    <p><em>Titel</em></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mi vel eros aliquet sollicitudin. Etiam tincidunt mauris lectus, nec porttitor enim consectetur et. Nullam vitae ipsum ante. Donec eget sapien suscipit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a mi vel eros aliquet sollicitudin. Etiam tincidunt mauris lectus, nec porttitor enim consectetur et. Nullam vitae ipsum ante. Donec eget sapien suscipiT. </p>
                </div>
                <div class="col-xs-12 col-sm-6 person-single__column hidden-sm hidden-xs">
                    <div class="person-single__item">
                        <div class="person-single__item__image">
                            <img src="/projectApi/{{project}}/static/images/person-1-1.png" class="img-responsive">
                        </div>
                        <div class="person-single__item__right">
                            <h4 class="person-single__item__right__title hidden-xs">Contact</h4>
                            <div>
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row person-single__row">
                <div class="col-xs-12 col-sm-12 col-md-6 person-single__column">
                    <div class="person-single__boxes">
                        <div class="person-single__boxes__left white">
                            <h4>Education</h4>
                            <p>
                                Lorem ipsum dolor sit amer<br>
                                Lorem ipsum dolor sit amer<br>
                                Lorem ipsum dolor sit amer
                            </p>
                            <p>
                                Lorem ipsum dolor sit amer<br>
                                Lorem ipsum dolor sit amer<br>
                                Lorem ipsum dolor sit amer
                            </p>
                        </div>
                        <div class="person-single__boxes__right beige">
                            <h4>Nationality</h4>
                            <p>Swedish</p>
                            <h4>Nationality</h4>
                            <p>
                                Swedish<br>
                                French<br>
                                English
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>