<section class="section">
    <div class="container">
        
        <div class="persons">
            <div class="row persons__row">
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 col-lg-3 persons__column">
                    <div class="persons__item">
                        <div class="persons__item__header">
                            <img src="/projectApi/{{project}}/static/images/person.png" class="img-responsive">
                        </div>
                        <div class="persons__item__body">
                            <div class="persons__item__body__text">
                                <h5>Namn Namnsson</h5>
                                <p><em>Titel</em></p>
                            </div>
                            <div class="persons__item__body__action">
                                <a href="tel:43546354342" class="btn btn-circle"><i class="fa fa-phone"></i></a>
                                <a href="mailto:example@eurodiagnostica.com" class="btn btn-circle"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>