<section class="section">
  <div class="container">
    <div class="row-flex justify-content-xs-center">
        <div class="col-flex-xs-4 col-flex-sm-6 col-flex-md-4">
          <div class="pharma-blocks">
            <div class="icons">
            </div>
            <p>
            Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur.
            </p>
            <h3>
              Ex nisi consequat

            </h3>
          </div>
        </div>
        <div class="col-flex-xs-4 col-flex-sm-6 col-flex-md-4">
          <div class="pharma-blocks">
            <div class="icons">
            </div>
            <p>
              Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur.
            </p>
            <h3>
                Ex nisi consequat
            </h3>
          </div>
        </div>
        <div class="col-flex-xs-4 col-flex-sm-6 col-flex-md-4">
          <div class="pharma-blocks">
            <div class="icons">
            </div>
            <p>
            Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur.
            </p>
            <h3>
                Ex nisi consequat
            </h3>
          </div>
        </div>
    </div>
  </div>
</section>