<div class="container">
    <div class="product-filters">
        <div class="row-flex">
            <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-8">
                <div class="custom-values">
                    <div class="custom-value">
                        <span class="label tertiary">REF</span>
                        <input type="text">
                    </div>
                    <div class="custom-value">
                        <span class="label tertiary">LOT</span>
                        <input type="text">
                    </div>
                    <div class="custom-value">
                        <span class="label primary">GET IFU</span>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-4">
                <div class="filter-wrapper">
                    <div class="filter-checkboxes">
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                    </div>
                    <div class="filter-checkboxes">
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>