<section class="section">
    
    <div class="container no-padding-xs">
        <div class="products">
            <div class="row-flex">
                <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-6">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#about1" aria-controls="about1" role="tab" data-toggle="tab">About</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#table1" aria-controls="table1" role="tab" data-toggle="tab">Table</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent1" aria-expanded="false" aria-controls="collapseProductContent1"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-image" style="background-image: url('/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg');"></div>
                            <div class="product-text collapse in" id="collapseProductContent1">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="about1">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="table1">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Firstname</th>
                                                    <th>Lastname</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-6">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#about2" aria-controls="about2" role="tab" data-toggle="tab">About</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#table2" aria-controls="table2" role="tab" data-toggle="tab">Table</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent2" aria-expanded="false" aria-controls="collapseProductContent2"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-image" style="background-image: url('/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg');"></div>
                            <div class="product-text collapse in" id="collapseProductContent2">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="about2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="table2">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Firstname</th>
                                                    <th>Lastname</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-6">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#about3" aria-controls="about3" role="tab" data-toggle="tab">About</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#table3" aria-controls="table3" role="tab" data-toggle="tab">Table</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent3" aria-expanded="false" aria-controls="collapseProductContent3"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-image" style="background-image: url('/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg');"></div>
                            <div class="product-text collapse in" id="collapseProductContent3">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="about3">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="table3">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Firstname</th>
                                                    <th>Lastname</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-flex-xs-12 col-flex-sm-12 col-flex-md-6">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#about4" aria-controls="about4" role="tab" data-toggle="tab">About</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#table4" aria-controls="table4" role="tab" data-toggle="tab">Table</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent4" aria-expanded="false" aria-controls="collapseProductContent4"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-image" style="background-image: url('/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg');"></div>
                            <div class="product-text collapse in" id="collapseProductContent4">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="about4">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="table4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Firstname</th>
                                                    <th>Lastname</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                                <tr><td>John</td><td>Doe</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>