<div class="container">
    <div class="product-filters">
        <div class="row">
            <div class="column col-xs-12">
                <div class="filter-wrapper row-custom">
                    <div class="filter-checkboxes">
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                    </div>
                    <div class="filter-checkboxes">
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                        <div class="checkbox">Lorem ipsum
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>