<section class="section">
    
    <div class="container no-padding-xs">
        <div class="products image-full">
            <div class="row">
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent1" aria-expanded="false" aria-controls="collapseProductContent1"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent1">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent2" aria-expanded="false" aria-controls="collapseProductContent2"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent2">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent3" aria-expanded="false" aria-controls="collapseProductContent3"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent3">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent4" aria-expanded="false" aria-controls="collapseProductContent4"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent4">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent5" aria-expanded="false" aria-controls="collapseProductContent5"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent5">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-4">
                    <div class="product">
                        <div class="product-header">
                            <div class="product-title">
                                <h4>Lorem ipsum</h4>
                            </div>
                            <div class="product-toggle hidden visible-xs">
                                <a class="btn" role="button" data-toggle="collapse" href="#collapseProductContent6" aria-expanded="false" aria-controls="collapseProductContent6"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <div class="product-body">
                            <div class="product-text collapse in" id="collapseProductContent6">
                                <img class="product-image-full" src="/projectApi/{{project}}/static/images/AdobeStock_114063222.jpeg">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla. Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.Nulla id orci faucibus, hendrerit urna eu, tincidunt nulla.</p>
                                    <div class="btn-wrapper">
                                        <a class="btn btn-product" href="#">Download Guides</a>
                                        <a class="btn btn-product" href="#">Go to product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>