<section class="section">
    <div class="container no-padding-xs">
        
        <div class="related-news">
            <h3 class="related-news__title">Releated news</h3>
            <div class="row related-news__row">
                <div class="col-xs-6 col-md-3 related-news__column">
                    <div class="related-news__item">
                        <div class="related-news__item__header">
                            <img src="/projectApi/{{project}}/static/images/500x350.png" class="img-responsive">
                            <h6 class="related-news__item__header__title">Oncolagy</h6>
                        </div>
                        <div class="related-news__item__body">
                            <a href="#" class="btn btn-full">Lorem ipsum</a> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 related-news__column">
                    <div class="related-news__item">
                        <div class="related-news__item__header">
                            <img src="/projectApi/{{project}}/static/images/500x350.png" class="img-responsive">
                            <h6 class="related-news__item__header__title">Oncolagy</h6>
                        </div>
                        <div class="related-news__item__body">
                            <a href="#" class="btn btn-full">Lorem ipsum</a> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 related-news__column">
                    <div class="related-news__item">
                        <div class="related-news__item__header">
                            <img src="/projectApi/{{project}}/static/images/500x350.png" class="img-responsive">
                            <h6 class="related-news__item__header__title">Oncolagy</h6>
                        </div>
                        <div class="related-news__item__body">
                            <a href="#" class="btn btn-full">Lorem ipsum</a> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-3 related-news__column">
                    <div class="related-news__item">
                        <div class="related-news__item__header">
                            <img src="/projectApi/{{project}}/static/images/500x350.png" class="img-responsive">
                            <h6 class="related-news__item__header__title">Oncolagy</h6>
                        </div>
                        <div class="related-news__item__body">
                            <a href="#" class="btn btn-full">Lorem ipsum</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>