<section class="section searchform-form">
    <div class="container no-padding-xs">
        <div class="row">
            <div class="col-md-6 searchform">
                <div class="padding-xs cnt-spacing">
                    <h3>Title</h3>
                    <p><i><b>Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate.</b></i></p>
                </div>
                <form>
                    <div class="form-wrapper">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Country</option>
                                <option>Sweden</option>
                                <option>Norway</option>
                                <option>Denmark</option>
                                <option>Spain</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-full" type="submit" name="submit">Search</button>
                    <div class="searchform-results">
                        <div class="searchform-results-list">
                            <div class="company">
                                <h3>Company 1</h3>
                            </div>
                            <div class="citys">
                                <h4>Sweden, Norway, Denmark</h4>
                            </div>
                        </div>
                        <div class="searchform-results-list">
                            <div class="company">
                                <h3>Company 2</h3>
                            </div>
                            <div class="citys">
                                <h4>Sweden, Norway</h4>
                            </div>
                        </div>
                        <div class="searchform-results-list">
                            <div class="company">
                                <h3>Company 3</h3>
                            </div>
                            <div class="citys">
                                <h4>Sweden, Denmark</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 form">
                <div class="padding-xs cnt-spacing">
                    <h3>Title</h3>
                    <p><i><b>Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur. Ea occaecat laborum voluptate.</b></i></p>
                </div>
                <form>
                    <div class="form-wrapper">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Order support:</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="name" class="form-control" placeholder="Name*">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email*">
                        </div>
                        <div class="form-group">
                            <input type="phone" class="form-control" placeholder="Phone*">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-attach" type="file" id="exampleInputFile">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="7"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-full" type="submit" name="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>