<section class="section">
    <div class="send-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xs-12">
                    <div class="text">
                        <h3>Want to lean more regarding SVAR?</h3>
                    </div>
                </div>
                <div class="col-lg-7 col-xs-12">
                    <form class="form-inline visible hidden-xs">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Sign up for our newsletter!">
                            <button class="btn btn-square" type="submit" name="submit">Sign up</button>
                        </div>
                    </form>
                    <form class="form-inline hidden visible-xs">
                        <div class="form-group form-group-lg">
                            <input type="email" class="form-control" placeholder="Sign up for our newsletter!">
                            <button class="btn btn-circle btn-blue-mobile" type="submit" name="submit">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>