
  <div class="sidebar">
    <div class="container">
      <div class="sidebar-menu">
        <div class="previous-page">
            <div class="icons">
              <i class="fas fa-angle-left"></i>
            </div>
            <a href="javascript:history.back()">Previous page</a>
        </div>
        <ul>
          <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">About SVAR</a>
           <ul class="hs-menu-children-wrapper">
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Contact us</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Management</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Investors</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">News/updates/events</a></li>
           </ul></li>
          <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Our Customers</a>
           <ul class="hs-menu-children-wrapper">
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">pharma/CRO/biotech</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Clinical</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Distributors</a></li>
           </ul></li>
          <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Solutions</a>
           <ul class="hs-menu-children-wrapper">
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Products/kits</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Bioananalytical</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Diagnostics</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Technologies</a></li>
           </ul></li>
          <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="javascript:;">Resources</a>
           <ul class="hs-menu-children-wrapper">
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Diseases</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Material</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Book a meeting</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">Wbinars</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="javascript:;">FAQ</a></li>
           </ul></li>
         </ul>
      </div>
    </div>
  </div>
