
<div class="container">
  <div id="hs_cos_wrapper_widget_1523514662769" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_image_slider hs-editor-editable" style="" data-hs-cos-general-type="widget" data-hs-cos-type="image_slider" data-hs-overrideable="true">
    <div id="hs_cos_flex_slider_widget_1523514662769" class="hs_cos_flex-slider flex-slider-main slider-mode-slider">
          <div class="hs_cos_flex-viewport" style="overflow: hidden; position: relative;">
            <ul class="hs_cos_flex-slides hs_cos_flex-slides-main " style="width: 800%; transition-duration: 0s; transform: translate3d(-780px, 0px, 0px);">


                      <li >
                          <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/banner-env-comp1.jpg?t=1523019949524" alt="banner-env-comp1.jpg" title="banner-env-comp1.jpg" draggable="false">
                      </li>


                      <li >
                          <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/environment_and_quality.jpg?t=1523019949524" alt="environment_and_quality.jpg" title="environment_and_quality.jpg" draggable="false">

                      </li>

                    </ul>
                  </div>

                  <ol class="hs_cos_flex-control-nav hs_cos_flex-control-paging">
                    <li><a class="hs_cos_flex-active">1</a></li><li><a class="">2</a></li>
                  </ol>
                  <ul class="hs_cos_flex-direction-nav">
                    <li><a class="hs_cos_flex-prev" href="#"></a></li>
                    <li><a class="hs_cos_flex-next" href="#"></a></li>
                  </ul>
        </div>
  </div>
</div>
<script>
window.hsSliderConfig = window.hsSliderConfig || {};
window.hsSliderConfig['widget_1523514662769'] = {
    mode: 'slider',
    mainConfig: {"animationLoop":true,"direction":"horizontal","slideshowSpeed":5000.0,"controlNav":true,"smoothHeight":false,"namespace":"hs_cos_flex-","slideshow":true,"selector":".hs_cos_flex-slides > li","animation":"slide"}
};


setInterval(function(){
    $('.block--center_js').center();

    $('.hs_cos_flex-prev').html('');
    $('.hs_cos_flex-next').html('');

}, 10);
</script>
