<section class="section">
    <div class="container">
        <div class="row text-panel">
            <div class="col-xs-12 col-md-8 text cnt-spacing">
                <h2>Lorem Ipsum dolor sit amet</h2>
                <p>Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna
                pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud
                eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur
                amet tempor ipsum in non cillum.</p>
            </div>
            <div class="col-xs-12 col-md-4 panel-block no-padding-xs">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                        <a class="btn hidden visible-xs" role="button" data-toggle="collapse" href="#collapseFull" aria-expanded="false" aria-controls="collapseFull"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="collapse in" id="collapseFull">
                        <div class="panel-body">
                            <p>
                                Lorem
                            </p>
                            <p>
                                About
                            </p>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>