<div class="wheel-menu" wheel-menu>
    <div class="wheel wheel-lg wheel-interaction" wheel-menu-second-level id="about-us">
        <ul>
            <li class="wheel-menu-item"></li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/investors' class="wheel-menu-item-link"><span class='inner'>Investors</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/csr' class="wheel-menu-item-link"><span class='inner'>CSR</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/contact-us' class="wheel-menu-item-link"><span class='inner'>Contact us</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/news-archive' class="wheel-menu-item-link"><span class='inner'>News archive</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/news-detail' class="wheel-menu-item-link"><span class='inner'>News detail</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/management' class="wheel-menu-item-link"><span class='inner'>Management</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/management-profile' class="wheel-menu-item-link"><span class='inner'>Management profile</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/corporate-info-open-positions' class="wheel-menu-item-link"><span class='inner'>Open positions</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/open-position' class="wheel-menu-item-link"><span class='inner'>Open position</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/search-results' class="wheel-menu-item-link"><span class='inner'>Search results</span></a>
            </li>
        </ul>
    </div>
    <div class="wheel wheel-lg wheel-interaction" wheel-menu-second-level id="our-customers">
        <ul>
            <li class="wheel-menu-item"></li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/pharma-cro-biotech' class="wheel-menu-item-link"><span class='inner'>Pharma CRO</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/pharma-clinical' class="wheel-menu-item-link"><span class='inner'>Pharma Clinical</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/distributors' class="wheel-menu-item-link"><span class='inner'>Distributors</span></a>
            </li>
        </ul>
    </div>
    <div class="wheel wheel-lg wheel-interaction" wheel-menu-second-level id="solutions">
        <ul>
            <li class="wheel-menu-item"></li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/products-and-kits' class="wheel-menu-item-link"><span class='inner'>Products</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/bioanalytical' class="wheel-menu-item-link"><span class='inner'>Bioanalytical</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/diagnostics' class="wheel-menu-item-link"><span class='inner'>Diagnostics</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/tests' class="wheel-menu-item-link"><span class='inner'>Tests</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/technologies' class="wheel-menu-item-link"><span class='inner'>Technologies</span></a>
            </li>
        </ul>
    </div>
    <div class="wheel wheel-lg wheel-interaction" wheel-menu-second-level id="resources">
        <ul>
            <li class="wheel-menu-item"></li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/faq' class="wheel-menu-item-link"><span class='inner'>FAQ</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/faq-detail' class="wheel-menu-item-link"><span class='inner'>FAQ Detail</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/webinars' class="wheel-menu-item-link"><span class='inner'>Webinars</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/book-a-meeting' class="wheel-menu-item-link"><span class='inner'>Book a meeting</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/material' class="wheel-menu-item-link"><span class='inner'>Material</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/diseases' class="wheel-menu-item-link"><span class='inner'>Diseases</span></a>
            </li>
        </ul>
    </div>
    <div class="wheel wheel-sm wheel-interaction" wheel-menu-first-level>
        <ul>
            <li class="wheel-menu-item"></li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/about-us' class="wheel-menu-item-link has-children" target="#about-us"><span class='inner'>About us</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/our-customers' class="wheel-menu-item-link has-children" target="#our-customers"><span class='inner'>Our customers</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/solutions' class="wheel-menu-item-link has-children active" target="#solutions"><span class='inner'>Solutions</span></a>
            </li>
            <li class="wheel-menu-item">
                <a href='/exec/euro_d/resources' class="wheel-menu-item-link has-children" target="#resources"><span class='inner'>Resources</span></a>
            </li>
        </ul>
    </div>
    <div class="toggle">
        <a href="#"><i class="fas fa-bars"></i><i class="fas fa-times"></i></a>
    </div>
</div>

<script type="text/javascript">

    $.fn.wheelMenu = function(options) {
        var self = {
            target: this,
            menu: this.find('ul'),
            menuItem: options.menu_item_class,
            menuItemLink: options.menu_item_link_class,
            menuItemParent: options.menu_item_parent_class,
            menuWheelOpen: options.menu_wheel_open,
            menuWheelTouchInteraction: options.menu_wheel_touch_interaction,
            supportsTouch: 'ontouchstart' in window || navigator.msMaxTouchPoints,

            init: function(){
                self._toggleHandler();

                if (self.supportsTouch) {
                    self._touchEventHandlers();
                } else {
                    self._mouseEventHandlers();
                }
            },

            _toggleHandler: function() {
                self.target.find('.toggle').on('click', function(e) {
                    $(this).toggleClass(self.menuWheelOpen);
                    self.target.find('[wheel-menu-first-level]').toggleClass(self.menuWheelOpen);
                    self.target.find('[wheel-menu-first-level]').find('.'+ self.menuItemLink + '.'+ self.menuItemParent).removeClass(self.menuWheelOpen);
                    self.target.find('[wheel-menu-second-level]').removeClass(self.menuWheelOpen);
                });
            },

            _mouseEventHandlers: function() {
                self.menu.on('mousewheel', function(e) {
                    var delta;
                    e.preventDefault();
                    if (e.type == 'mousewheel') {
                        delta = e.originalEvent.wheelDelta;
                    } else if (e.type == 'DOMMouseScroll') {
                        delta = e.originalEvent.detail;
                    }
                    var target = $(e.target).closest('ul');
                    self._rotateWheel(target, delta / 10);
                });

                self.target.find('[wheel-menu-first-level]').find('.'+ self.menuItemLink +'.'+ self.menuItemParent).on('click', function(e) {
                    e.preventDefault();
                    self._firstLevelClick($(this));
                });
            },

            _touchEventHandlers: function() {
                self.target.find('.'+ self.menuWheelTouchInteraction).each(function(index, target) {
                    var currentAngle = 0;
                    var target = target;
                    var scrollRegion = new ZingTouch.Region(target);
                    scrollRegion.bind(target, 'rotate', function(e) {
                        var rotatable = $(e.target).find('ul')[0];
                        currentAngle += e.detail.distanceFromLast;
                        rotatable.style.transform = 'rotate(' + currentAngle + 'deg)';
                    });
                });

                self.target.find('[wheel-menu-first-level]').find('.'+ self.menuItemLink).each(function(index, target) {
                    var touchRegion = new ZingTouch.Region(target, true, false);
                    var longTap = new ZingTouch.Tap({
                        maxDelay: 1000
                    });
                    touchRegion.bind(target, longTap, function(e) {
                        self._firstLevelClick($(this));
                    });
                });

                self.target.find('[wheel-menu-second-level]').find('.'+ self.menuItemLink + ':not(.'+ self.menuItemParent +')').each(function(index, target) {
                    var touchSecondLevel = new ZingTouch.Region(target, true, false);
                    var longTap = new ZingTouch.Tap({
                        maxDelay: 1000
                    });
                    touchSecondLevel.bind(target, longTap, function(e) {
                        window.location.href = $(this).attr('href');
                    });
                });
            },

            _firstLevelClick: function(target) {
                var subTarget = target.attr('target');
                if (!target.hasClass(self.menuWheelOpen) && target.hasClass(self.menuItemParent)) {
                    target.closest('ul').find('.'+ self.menuItemLink).removeClass(self.menuWheelOpen);
                    target.addClass(self.menuWheelOpen);
                    self.target.find('[wheel-menu-second-level]').removeClass(self.menuWheelOpen);
                    $(subTarget).addClass(self.menuWheelOpen);
                } else {
                    window.location.href = target.attr('href');
                }
            },

            _getRotationDegrees: function(obj) {
                var matrix = obj.css("-webkit-transform") || obj.css("-moz-transform") || obj.css("-ms-transform") || obj.css("-o-transform") || obj.css("transform");
                if (matrix !== 'none' && matrix !== undefined) {
                    var values = matrix.split('(')[1].split(')')[0].split(',');
                    var a = values[0];
                    var b = values[1];
                    var angle = Math.round(Math.atan2(b, a) * (180 / Math.PI));
                } else {
                    var angle = 0;
                }
                return (angle < 0) ? angle += 360 : angle;
            },

            _rotateWheel: function(target, degree) {
                degree = degree * -1;
                if (degree > 20) degree = 20;
                else if (degree < -20) degree = -20;
                var newDeg = (self._getRotationDegrees(target) + degree);

                target.css({
                    '-webkit-transform': 'rotate(' + newDeg + 'deg)',
                    '-moz-transform': 'rotate(' + newDeg + 'deg)',
                    '-o-transform': 'rotate(' + newDeg + 'deg)',
                    'transform': 'rotate(' + newDeg + 'deg)'
                });
            },
        };

        self.init();
        return this;
    };

    $('[wheel-menu]').wheelMenu({
        menu_item_class: 'wheel-menu-item',
        menu_item_link_class: 'wheel-menu-item-link',
        menu_item_parent_class: 'has-children',
        menu_wheel_open: 'open',
        menu_wheel_touch_interaction: 'wheel-interaction'
    });

</script>