
<compontent src="../modules/global/header" ></compontent>
<div class="site-wrapper">
	<compontent src="../modules/global/addons"></compontent>
	<routes scope="{{project}}" savestate id="pages" trailing={{trailing}}>
		[
				{path:'/', render:'/components/templates/home'},
			  {path:'/index', render:'/components/templates/standard'},
				{path:'/about', render:'/components/templates/standard'},
				{path:'/cart', render:'/components/templates/standard'},
				{path:'/.*', render:'/components/templates/error404'}
			]
	</routes>

	<compontent src="../modules/global/footer"></compontent>
</div>
