
<div class="container">
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 tasks-list white">

    <div class="span12 widget-span widget-type-widget_container " style="" data-widget-type="widget_container" data-x="0" data-w="12">
      <span id="hs_cos_wrapper_module_151628031623022" class="hs_cos_wrapper hs_cos_wrapper_widget_container hs_cos_wrapper_type_widget_container" style="" data-hs-cos-general-type="widget_container" data-hs-cos-type="widget_container"><div id="hs_cos_wrapper_widget_5531782109" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h1 class="title">SPECIALIST<wbr>LEVERANTÖREN</h1>
<div id="block-system-main" class="block block-system block-system-main">
<div class="content">
<article class="node node-page ">
<div class="field field-name-body field-type-text-with-summary field-label-hidden">
<h2>VILKA VI ÄR</h2>
<p>Vi på Assistera är duktiga på att<span>&nbsp;</span><strong>förstå krav och tolka kompetensbehov</strong>. Vi har blivit experter på att lyssna och ställa rätt frågor. Vi ser vad som är viktigt på riktigt och vi är alltid på jakt efter den bästa
      lösningen.
      <br>En sak som vi som jobbar på Assistera har gemensamt, är en uppriktig tro på att vi kan göra skillnad, för både kunderna och konsulterna. Vi har olika bakgrund, olika förmågor och brinner för olika frågor – men det vi delar är en drivkraft att
      vilja göra alla till vinnare, genom att vara bäst på att lösa problem och<span>&nbsp;</span><strong>förstå hur vi kan ge både konsulter och kunder vad de behöver</strong>.</p>
      <p class="srt"><span class="h3">Här kan du läsa mer om vilka vi är</span></p>
      <p>&nbsp;</p>
      <h2>VAD VI GÖR</h2>
      <p>Vi är bäst på är att<span>&nbsp;</span><strong>lösa konsultrelaterade behov</strong>. För våra kunder handlar det om att få rätt person, med rätt kompetens på rätt plats så snabbt som möjligt. För våra konsulter handlar det om att få en specialistleverantör
        som säkerställer<span>&nbsp;</span><strong>utvecklande uppdrag</strong>. Vi förstår snabbt vad en kund behöver, vad en konsult kan och vill och vi ser till att de kommer i kontakt med varandra.</p>
      <p>Inom Assisterakoncernen hjälper vi också till med alla former av kompetensprognoser/analyser, vi kan erbjuda stöd vid rekryteringar och lösningar med flexibla anställningsmodeller, vi är en trygg diskussionspartner och rådgivare i frågor kring egenföretagande,
        rekrytering, kompetensförsörjning och headhunting. Tack vare vår erfarenhet och vårt<span>&nbsp;</span><strong>omfattande nätverk</strong><span>&nbsp;</span>har vi gång på gång lyckats hitta den där konsulten med kompetens och kvalifikationer
        som kunden visste att den behövde, men inte hade någon aning om var den kunde finnas.&nbsp;</p>
      <p>&nbsp;</p>
      <h2>HUR VI GÖR DET</h2>
      <p>Vår värdegrund har drivit fram en organisation och ett arbetssätt som ska tillåta oss att aldrig göra avkall på våra&nbsp;kärnvärden. För oss har det varit viktigt att skapa utrymme för en personlig relation till både konsulter och kunder. Det har
        legat till grund för hur vi arbetar.<span>&nbsp;</span><br>Man kan enkelt beskriva Assistera som en organisation med<span>&nbsp;</span><strong>två ben – sälj och nätverk</strong>. Båda delarna är lika viktiga, men har olika fokus. Vi har tydligt
        delat upp ansvaret mellan de av oss som jobbar närmast kunden och de som jobbar närmast konsulten. Mellan oss bygger vi en gemensam bild av hur kompetensbehovet och kompetensförsörjningen ser ut i regionen.</p>
      <p>Assistera har sedan starten haft starkt säljfokus och lyckats väl med sina kundrelationer. Våra kundansvariga säljare har många års erfarenhet från både konsultbranschen och teknikbolag och har förutom tidigare roller som säljare även jobbat som
        bland annat konsultchefer, utvecklingschefer och linjechefer. Att vi själva har suttit i de rollerna, och att vi har så starkt fokus på att känna våra kunder, gör att vi förstår hur våra kunder arbetar, vad de egentligen menar och vad de verkligen
        behöver.</p>
      <p>I den andra delen av organisationen fokuserar&nbsp;vi på<span>&nbsp;</span><strong>nätverket av specialister</strong>. Assisteras agenter jobbar&nbsp;framför allt med att bygga nätverket av specialister och&nbsp;att vara&nbsp;deras främsta kontakt.
        Agenterna fokuserar dagligen på den regionala kompetensförsörjningen, prognoser och marknadstrender som stödjer säljarnas arbete.</p>
      <p>Från ledigt uppdrag till konsult i nytt uppdrag – hur går det till?<span>&nbsp;</span><br>Så hur går det egentligen till när ett företag någonstans har ett behov som vi ska matcha med rätt kompetens? Det finns förstås flera olika scenarier, men
        oftast börjar processen med något av följande:</p>
      <ul>
        <li>Våra ramavtalskunder skickar ut sina lediga uppdrag till våra kundansvariga säljare som sedan skickar dem vidare ut i vårt nätverk via mail. Några dagar efter utskicket i nätverket publiceras våra uppdrag på vår hemsida</li>
        <li>Våra konsulter i nätverket anmäler sitt intresse för ett visst uppdrag via mail eller vår hemsida</li>
        <li>Vi gör proaktiv försäljning av enskilda konsulter mot befintliga och potentiella nya kunder där vi ser en matchning</li>
        <li>Partners/andra konsultbolag kontaktar oss för att få hjälp med att hitta specialister för ett mer generellt behov</li>
      </ul>
      <p>När vi har hittat ett antal starka kandidater för ett visst uppdrag, träffar vi konsulterna ifråga personligen och går igenom uppdraget i detalj. Här lägger vi stor kraft och vikt vid att göra ett gediget research- och intervjuarbete. När kunden
        bestämt sig för vem eller vilka som är intressanta att gå vidare med ses vi på plats hos kunden för intervju. Under uppdragets gång har vi kontinuerlig kontakt både med konsulten och kunden för att diskutera nuläget, krav och förväntningar, eventuella
        förlängningar och andra frågor.</p>
      <p>&nbsp;</p>
      <p><span class="h2">VÅRA KÄRNVÄRDEN</span></p>
      <p>Vi har tre kärnvärden inom Assistera, transparent, oberoende och personlig. Värdena sammanfattar vad vi står för och är avgörande för hur vi agerar i vårt dagliga arbete.</p>
      <p><strong>Transparent.</strong><span>&nbsp;</span>Vi är öppna, med våra avsikter, våra avtal och våra åsikter. Vi tror på att de mest framgångsrika affärerna och de mest hållbara relationerna byggs på ärlighet och tydlighet. De parter som är inblandade
        i en affär – Assistera, kund och konsult – har full inblick i alla avtal. Alla ser vad alla får.</p>
      <p><strong>Oberoende.</strong><span>&nbsp;</span>Vi väljer alltid den bästa specialisten för det aktuella uppdraget, oberoende om konsulten är egenföretagare eller anställd på ett konsultbolag, vi vill rekommendera den mest lämpade konsulten för varje
        uppdrag, varje gång. Vi är nöjda&nbsp;då vi&nbsp;har tre nöjda parter – vi, konsulten och kunden. Vårt driv i varje affär är oberoende av vilken andel vi får, den är fast och inte beroende av vilken konsult vi/ni väljer.</p>
      <p><strong>Personlig.</strong><span>&nbsp;</span>Vi på Assistera gillar människor. Och vi älskar affärer. Framför allt tycker vi om känslan av en lyckad affär, där alla känner sig som vinnare. Och det är precis det vi vill uppnå – vi vill ge både våra
        kunder och våra konsulter en känsla av att ha vunnit något. En välbehövlig förstärkning i teamet. En trygg och utmanande arbetsplats. En ny långsiktig partner att lita på. Någon man kan slå en signal till, vid minsta fråga.</p>
    </div>
    </article>
  </div>
</div>
</div>
<div id="hs_cos_wrapper_widget_5531782110" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_social_sharing" style="" data-hs-cos-general-type="widget" data-hs-cos-type="social_sharing"><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Dfacebook" target="_blank" style="width:24px;border-width:0px;border:0px;"><img src="https://static.hubspot.com/final/img/common/icons/social/facebook-24x24.png" class="hs-image-widget hs-image-social-sharing-24" style="max-height:24px;max-width:24px;border-width:0px;border:0px;" width="24" hspace="0" alt="Share on Facebook"></a>&nbsp;
  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Dlinkedin" target="_blank" style="width:24px;border-width:0px;border:0px;"><img src="https://static.hubspot.com/final/img/common/icons/social/linkedin-24x24.png" class="hs-image-widget hs-image-social-sharing-24" style="max-height:24px;max-width:24px;border-width:0px;border:0px;" width="24" hspace="0" alt="Share on LinkedIn"></a>&nbsp;
  <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Dtwitter&amp;url=http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Dtwitter&amp;source=tweetbutton&amp;text=Om-oss"
    target="_blank" style="width:24px;border-width:0px;border:0px;"><img src="https://static.hubspot.com/final/img/common/icons/social/twitter-24x24.png" class="hs-image-widget hs-image-social-sharing-24" style="max-height:24px;max-width:24px;border-width:0px;border:0px;" width="24" hspace="0" alt="Share on Twitter"></a>&nbsp;
  <a href="https://plus.google.com/share?url=http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Dgoogle_plus" target="_blank" style="width:24px;border-width:0px;border:0px;"><img src="https://static.hubspot.com/final/img/common/icons/social/googleplus-24x24.png" class="hs-image-widget hs-image-social-sharing-24" style="max-height:24px;max-width:24px;border-width:0px;border:0px;" width="24" hspace="0" alt="Share on Google+"></a>&nbsp;
  <a href="mailto:?subject=Check%20out%20http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Demail%20&amp;body=Check%20out%20http%3A%2F%2Fasociety-4226853.hs-sites.com%2Fom-oss%3Futm_medium%3Dsocial%26utm_source%3Demail"
    target="_blank" style="width:24px;border-width:0px;border:0px;"><img src="https://static.hubspot.com/final/img/common/icons/social/email-24x24.png" class="hs-image-widget hs-image-social-sharing-24" style="max-height:24px;max-width:24px;border-width:0px;border:0px;" width="24" hspace="0" alt="Share on Email"></a>
</div>
</span>
</div>
<!--end widget-span -->

</div>
</div>
</div>
