


  <section >
      <div class="container-fluid" style="position:relative;">
        <compontent src="../modules/general/video-banner"></compontent>
        <compontent src="../modules/general/circle"></compontent>
      </div>

      <compontent src="../modules/general/text-logo"></compontent>
       <compontent src="../modules/global/logo"></compontent>


     <div>
  </section>
  <section>
    <div class="container" >
      <compontent src="../modules/general/circle-rectangle"></compontent>
    </div>
    <div class="container" style="background-image: url(/projectApi/assitera/static/images/Bakgrund.png);" >
      <compontent src="../modules/global/block-12"></compontent>


      <div class="row">
        <compontent src="../modules/global/newsblock"></compontent>
      </div>


    </div>
</section>
