


  <section >
      <div class="container" style="height: 50vh;position: relative;" >
        <compontent src="../modules/general/video-banner"></compontent>
       <compontent src="../modules/general/circle"></compontent>
       <compontent src="../modules/general/circle-rectangle"></compontent>
     <div>
  </section>
  <section>
    <div class="container" >
      <compontent src="../modules/global/block-12"></compontent>


      <div class="row">
        <compontent src="../modules/global/newsblock"></compontent>
      </div>

      <div class="row">
        <compontent src="../modules/general/text-box.html" data='{
            "title":"mytitle",
            "titlecolor":"black",
            "paragraph":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum vehicula vehicula. Ut eleifend leo erat, eu convallis lorem tincidunt vel. Aenean viverra commodo ornare. Nunc sit amet sodales libero. Sed tincidunt fermentum lacus ac facilisis. Praesent leo tellus, cursus a quam quis, ullamcorper pretium tortor. In ut iaculis est. Phasellus lacinia mi ultrices, venenatis ipsum volutpat, pharetra sapien. Quisque sit amet finibus nibh. Nulla eleifend sapien et nibh semper",
            "btn":{
              "btncolor":"btn-eye--black",
              "btntext":"Read more",
              "btnlink":"#"
            }
          }'></compontent>
      </div>
    </div>
</section>
