<div class="container relative">
	<div class="overlay"></div>
		<div class="row">
			<div class="col-lg-12 image-col">
				<img class="task-banner img-responsive" esrc="static/images/task-banner.jpeg">
			</div>
		</div>
</div>
<!--Banner IMG-->
<div class="container">
	<div class="row">
		<div class="col-lg-12 white">
			<div class="col-lg-8 col-lg-offset-2 tasks-list">
				<h1>Lediga uppdrag</h1>
				<p class="task-desc">Här hittar du ett urval av våra aktuella uppdrag. Om du registrerar dig får du våra lediga uppdrag
				skickat till dig per mail, före alla andra kan nå dem på webben.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.
						
						Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>

				<h4><span class="highlight-title">Location</span> - lorem ipusm - ref: Lorem</h4>
				<p class="task-desc">Eiusmod mollit tempor aute reprehenderit id nisi dolore magna. Veniam magna voluptate qui deserunt culpa exercitation officia id anim fugiat aliquip. Laboris magna excepteur veniam enim.

Excepteur labore aliqua sit in sit. Id non cupidatat cupidatat non consequat in nisi dolore nisi dolor fugiat irure. Incididunt commodo laborum consectetur consectetur adipisicing dolore proident magna do enim nulla eu. Non sunt sint adipisicing quis sint anim minim reprehenderit. Ut mollit incididunt non ullamco.</p>
			</div><!--Text Content end-->
		
			<div class="col-lg-8 col-lg-offset-2">
				<p class="share-p">
				Dela
				<i class="fa fa-linkedin fa-border share" aria-hidden="true"></i>
				<i class="fa fa-google-plus fa-border share" aria-hidden="true"></i>
				<i class="fa fa-twitter fa-border share" aria-hidden="true"></i>
				<i class="fa fa-facebook fa-border share" aria-hidden="true"></i>
				<i class="fa fa-envelope fa-border share" aria-hidden="true"></i>
				</p>
			</div>
		</div><!--Share-->
	</div>
</div>

