.arrow-nav {
    overflow-x: auto;

    .arrow-nav-list {
        list-style: none;
        display: flex;
        align-items: stretch;
        margin: 0;
        padding: 0 35px 0 0;
        min-width: 940px;

        .arrow-nav-list-item {
            flex: 1 0;
            padding: 24px;
            height: 98px;
            padding-left: 47px;

            background-color: $dcolor__brown;
            position: relative;
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 4px;
            text-align: center;

            &:first-of-type {
                padding-left: 20px;
                &::before {
                    display: none;
                }
            }

            &::before {
                content: "";
                border-top: 49px solid transparent;
                border-bottom: 49px solid transparent;
                border-left: 35px solid $scolor__silver;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
            }

            &::after {
                content: "";
                border-top: 49px solid transparent;
                border-bottom: 49px solid transparent;
                border-left: 35px solid $dcolor__brown;
                position: absolute;
                right: -35px;
                top: 0;
                z-index: 5;
            }

            &:hover, &:focus, &:active {
                background-color: darken(#BEB2A1, 5%);
                color: $white;
                text-decoration: none;

                &::after {
                    border-left-color: darken(#BEB2A1, 5%);
                }
            }

            &.active {
                background-color: $scolor__orange;
                &::after {
                    border-left: 35px solid $scolor__orange;
                }
            }
        }
    }
}
