.colored-blocks{
    padding: 32px;
    height: 100%;

    .hs-button{
      font-size: 15px;
      border-radius: 100%;
      display: inline-block;
      margin: auto;
      color: $black;
      padding: 18px;
      text-align: center;
        background: $white;
    }

    h3,h2,h1{
        color: $white;
        margin-top: 0;
        font-weight: bold;
    }
    p{
        color:$white;
    }
}
