.colored-blocks-form {
    padding: 32px;
    height: 100%;

    .colored-blocks-form-header {
        display: flex;

        h3{
            flex: 1;
        }

        .btn {
            color: $white;
            outline: 0;

            .fa-plus {
                display: none;
            }

            &.collapsed {
                .fa-plus {
                    display: inline-block;
                }
                .fa-minus {
                    display: none;
                }
            }
            
            &:hover, &:focus, &:active {
                box-shadow: none;
            }
        }
    }

    h3{
        font-weight: 100;
        color:$white;
        margin-top: 0;
    }
    p{
        font-size: 14px;
        color:$white;
    }

    .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .form-control{
            flex: 1;
            box-shadow: none;
            border: none;
            border-radius: 0;
        }
    }
    .btn-circle{
        color: $scolor__orange;
        border-radius: 100px;
        width: 65px;
        height: 65px;
        font-size: 18px;
        padding: 0;
        font-weight: 600;
        margin-left: 32px;

        @include media('<=tablet') {
            margin-left: 16px;
        }
    }
}

.form-colored-blocks-text {

    @include media('<=tablet') {
        padding: 32px;
    }
}