footer {
    width: 100%;
    background: $bgcolor__main--2;
    padding: 50px 0;

    @include media('<=tablet-portrait') {
        .column {
            margin-bottom: 35px;
        }
    }

    .footer-heading {
        color: $white;
    }

    .footer-list {
        li {
            padding: 5px 0;
        }

        @include media('<=tablet') {
            display: flex;
            flex-wrap: wrap;
            li {
                flex: 0 0 50%;
            }
        }
    }

    * {
        color: $white;
    }

    p, address {
        display: inline-block;
        vertical-align: super;
    }

    i {
        font-size: 30px;
        display: inline-block;
        margin-right: 5px;
    }

    .social {
        margin-top: 10px;
    }
}
