


.sub-page
{
  header {
    box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
  }
}


header {

  position: relative;
  top:0px;
  left:0px;
  width:100%;
  z-index: 10;
  background: $bgcolor__main--3;
  .navbar-header {
      height: 65px;
  }
  .fa-search{
    -webkit-text-stroke: 0;
    @include media ('>=tablet') {
    -webkit-text-stroke: 3px white;
    }
  }

&.sticky {
    position: fixed;
    background: $white;
        box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
}

.widget-type-logo img {
    width: 100% !important;
}

.general_logo {
  position: absolute;
  max-width: 120px;
  top: 20px;
  left: 10px;
  z-index: 20;
}


  @include media ('>=tablet') {
     .general_logo {
      margin-top: 5px !important;
      position: absolute;
      top: 10px;
          left: -10px;
      max-width: 100px;
  }
  }
  @include media ('>=tablet-portrait') {
    	.general_logo {
        margin-top: 5px !important;
        position: absolute;
        top: 10px;
            left: 15px;
            max-width: 100px;
    	}
    }
    @include media ('>=lgscreen') {
        .general_logo {
          margin-top: 5px !important;
          position: absolute;
          top: 10px;
              left: 15px;
              max-width: 120px;
        }
      }
}
