header {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 10;
    background: #666666;

    @include media('<tablet') {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;

        &:before, &:after {
            display: none;
        }

        

        .navbar-nav {
            width: 80%;
            > li {
                float: none;
                display: inline-block;
                
                a {
                    font-size: 17px;
                    font-weight: 200;
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
            }
            ul{
                padding: 0px;
            }


            .hs-menu-item {
                float: none;
                display: inline-block;
                
                a {
                    font-size: 17px;
                    font-weight: 200;
                    padding: 16.5px;
                }

                a{
                    color: $linkcolor;
                }
                a:hover{
                    color: $linkcolor;
                }
                &:first-child {
                    a {
                        padding-left: 0;
                        @include media('<tablet-portrait') {
                            padding-left: 16.5px;
                        }
                    }
                }
            }
        }

        .navbar-form {
            border: 0;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
            box-shadow: none;
            width: 20%;
            position: relative;
            text-align: center;
            margin-top: 15px;
            @include media('<tablet-portrait') {
            margin-top: 20px;
            }
            .form-group {
                margin-bottom: 0;
                position: relative;

            }
            .form-control {
                margin-bottom: 0;
                border-radius: 25px;
                padding: 4px 20px;
                width: 100%;
            }
            .btn {
                border-radius: 50%;
                position: absolute;
                top: 1px;
                bottom: 1px;
                line-height: 1;
                right: 0;
                color: $scolor__sliver--light;

                &:hover, &:focus {
                    outline: 0;
                }
            }
        }
    }
}
