header {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 10;
    background: #666666;

    @include media('<tablet') {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;

        &:before, &:after {
            display: none;
        }

        .navbar-nav {
            > li {
                float: none;
                display: inline-block;
                
                a {
                    font-size: 17px;
                    font-weight: 200;
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
            }
        }

        .navbar-form {
            border: 0;
            padding: 0;
            margin-left: 0;
            margin-right: 0;
            box-shadow: none;

            .form-group {
                margin-bottom: 0;
                position: relative;
            }
            .form-control {
                margin-bottom: 0;
                border-radius: 25px;
                padding: 4px 20px;
                width: 200px;
            }
            .btn {
                border-radius: 50%;
                position: absolute;
                top: 1px;
                bottom: 1px;
                line-height: 1;
                right: 0;
                color: $scolor__sliver--light;

                &:hover, &:focus {
                    outline: 0;
                }
            }
        }
    }
}
