.hs-form
{
   width: 100%;
 }
 .hs_cos_wrapper_type_form
 {
       padding: 0px !important;
 }
 [data-form-id="2ff05c4d-4106-4a9d-80b3-246781ab6f87"]
 {
    padding-left: 34px;
    padding-right: 34px;

    position: relative;
    margin-top: 40px;
    .hs_submit.hs-submit {
      margin-left: -34px;
      margin-right: -34px;
      max-width: initial !important;
    }

   .hs-form-field{


     input,textarea
     {
       background: $scolor__gray--light;

     }
     select
     {
       background: $scolor__orange;
     }

   }
   .hs-button {
     width: 100%;
     padding: 10px;
     background: $scolor__blue;
     color: $white;
    }
 }


 .form-inline {
   @include media('<tablet') {
     position: relative;
     top: -20px;
   }
 }
