.header-container.container-fluid
{
    padding:0px !important;
}
.hs_cos_wrapper_type_rich_text img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.widget-span
{
    width:auto !important;
    float:none !important;
}
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    display: inline-block;
    width: 30px;
    top: 10px;
    position: relative;
}

.row:after{
    display:block !important;
}
@media (max-width: 767px)
{
    .row-fluid [class*="span"] {
        width:100% !important;
    }
}
.quote-box:after {

    margin-left: 0px !important;
    left: 0px !important;
}

.header-text {
    padding: 40px;
    text-align:left;
}
.banner {
    margin-bottom: 10px;
}
.hs_cos_wrapper_type_custom_widget .hs_cos_wrapper_widget
{
    width:100%;
    padding: 0px;
}

.span12 {
    float: none !important;
}



header .row-fluid::before, .row-fluid::after {
    display: none !important;
    content: "";
}
.admin-action
{
    color: white;
    background: orange;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}
.hs_cos_wrapper_type_social_sharing
{
    display: none !important;

}

.share-p i
{
    position:relative;
}

.share-p a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.body-container.container-fluid
{
    padding:0px !important;
}
.footer-container.container-fluid
{
    padding:0px !important;
}

video.top-video {
    width: 100%;
    height: 100%;
}

.row-fluid [class*="span"] {
    min-height:0px !important;
}
.blog .site-wrapper {
    margin-top: 58px;
}

.row-fluid {
    min-height: 0;
}

#topics {
    display:none;
}

#topics li {
    padding: 20px;
    font-size: 20px;
}

img.hs-image-widget {
    width: 100% !important;
}

.hs-inline-edit #topics  {

    display:block;
}

.globe_class {
    display: none;
}

.widget-type-language_switcher > .cell-wrapper {
    display: none;
}


ul.hs-error-msgs.inputs-list {
    font-size: 12px;
    color: #eb611c;
}

form span {
    font-family:open sans; font-weight: normal; font-size: 16px;

}
form ul {
    list-style:none; margin:0; padding: 0;

}
form input {
    background: #ffffff;

}
form textarea {
    background: #ffffff; width: 100%; margin-bottom: 20px;

}
form .form-columns-1 {
    max-width:100% !important;

}
form .form-columns-2 {
    max-width:100% !important;

}
form .hs-button {
 font-size: 16px;
 float: none;
}


form .hs-form-radio {
    display:inline-block;

}
form fieldset:last-child
{
     margin-bottom: 10px;
}
form .hs-form-radio input {
    margin:-10px 10px 0 0;
    vertical-align:middle;

}
form .input{
    margin:0px !important;

}

form .hs-form-radio span {
    margin-right: 20px; float:left;

}
form .hs-field-desc {
    font-size: 15px; color: #808080;
}



fieldset.form-columns-3 .hs-form-field {
     width: 100% !important;
}






@media (min-width: 768px)
{
    fieldset.form-columns-3 .hs-form-field {
        width: 33.3% !important;;
        float: left;

    }
}


form>* {
    position: relative;
}

form .hs-richtext {
    padding-left: 10px;
    padding-right: 10px;
}
form  *
{
    box-sizing: border-box !important;
}

form .hs-form-field
{

}



.newsletter-submit-button form .actions {
    padding:0px !important;

}

form legend {
    border: 0;
}
.hbspt-form {
    text-align: left;
}
fieldset.form-columns-1 .hs-input {
    width: 100% !important;
    margin-bottom: 10px;
}

form >*{
    max-width:100% !important;
}

.widget-span
{
	.hs_cos_flex-slide-main img {
	    width: 96%;

			@include media('<tablet') {
				position: relative;
				left:-40px;
			}
	}
	.flex-slider-main
	{
		text-align: center;
		margin-left: -15px;
		margin-right: -15px;
	}
  .page-header {
    padding-bottom: 9px;
    margin: 0px;
    border-bottom: 0px;
  }

	.hs_cos_wrapper_widget {
	    margin-right: auto !important;
	    margin-left: auto !important;
		display: block;
	}


	.reviews--bigger
	{
		h4 {
    	margin-top: 20px;
		}
		p {
		    font-size: 30px;
		    font-style: italic;
		    font-family: 'gravityBold';
		    color: gray;
		}
	}
  .sub-page
  {
    span.hs_cos_wrapper_widget,.hs_cos_wrapper_type_header,.hs_cos_wrapper_type_rich_text
    {
        padding-left: 20px;
        padding-right: 20px;
        @include gridsystem();

    }
  }

  .container span.hs_cos_wrapper_widget
  {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
    width: auto !important;
    float: none !important;;
  }
}
.sub-page
{
  span.hs_cos_wrapper_widget,.hs_cos_wrapper_type_header,.hs_cos_wrapper_type_rich_text,.mce-content-body
  {
      padding-left: 20px;
      padding-right: 20px;

      @include gridsystem();

  }
}

.container span.hs_cos_wrapper_widget,.container .mce-content-body
{
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
  width: auto !important;
  float: none !important;;
}

.header .hs_cos_wrapper_type_logo {

  width: 60px !important;
  position: absolute;
  top: 26px;
      left: 10px;
  @include media('>desktop') {
        top: 18px;
            left: 3px;
    }



    img{
      width: 60px !important;
      display: block;
    }
}
