
  .image-text
  {
    .image-box {
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      max-height: 100vw;
      img {
        width: 100%;
      }
      @include media('>desktop') {
        width: 400px;
        height: 400px;
        background: white;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: auto;
          max-height: 100%;
        }
      }
    }


  }
