
  .image__text
  {

    @include media('<tablet') {
      margin-right: 0;
      margin-left: 0;

      .text {
        padding-left: 32px;
        padding-right: 32px;
      }
    }

    @include media('<=tablet-portrait') {
      .column {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @include media('<tablet') {
      display: flex;
      flex-direction: column;

      .text {
        order: 1;
      }
    }

    &{
      .image-box {
        img {
          width: 100%;
        }
      }
      p {
        color: $black;
      }
    }
    &-circle
    {
      .image-box {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        max-height: 100vw;
        img {
          width: 100%;
        }
        p {
          color: $black;
        }
        @include media('<tablet') {
            width: 100%;
            overflow: hidden;
            max-height: 100vw;
            border-bottom-right-radius: 50%;
            border-top-right-radius: 50%;
            margin-left: -15px;
        }

        @include media('>desktop') {
          width: 400px;
          height: 400px;
          background: white;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: auto;
            max-height: 100%;
          }
        }
      }
    }
  }
