.links-blocks {
    background:$bgcolor__main--4;
    margin-top:10px;
    position: relative;
    min-height: 160px;
    border: 2px solid #BEB2A1;
    p{
        padding: 30px;
          padding-bottom: 5px;
          color:$black ;
              @include media('<tablet') {
                display: none;
              }
    }

    a {
        display: block;
        text-decoration: none;
        font-family: 'Helvetica Neue' !important;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    h3{
      background: $bgcolor__main--1;
      margin: 0px;
      padding: 10px 40px;
      color:$white;
      text-align: center;

      position: relative;
      bottom: 0px;
      width: 100%;
    }
    .icons {
      background: gray;
      width: 140px;
      height: 140px;
      position: relative;
      margin: auto;
      top: 22px;
      border-radius: 50%;
      background:$white;
      overflow: hidden;
      position: relative;

      @include media('<tablet') {
        width: 70%;
        height: auto;
        border: none;
      }

      img {
        width: 100%;
      }
  }
}
