.news-blocks,.news-blocks-large {
    margin-top:10px;
        height: 245px;


    .small-img{
      width:100%;
      height: calc(100% - 50px );

    }
    p{
      padding-right: 10px;
      font-size: 18px;
      padding-bottom: 5px;
      color: var(--scolor3);
      width: 60%;
      float: left;
      padding-top: 80px;
    }

    h4{
      background: $bgcolor__main--1;
      margin: 0px;
      padding: 13px 0px;
      color: var(--scolor1);
      text-align: center;
      height: 50px;
    }
    a{
      top: 75px;
      position: absolute;
      left: 70%;
      margin-left: -32px;
    }
    .btn-archive {
      width: 100px;
      height: 100px;
      background:$scolor__green;
      text-align: center;
      font-size: 18px;
      border-radius: 50%;
      padding-top: 35px;
  }
}
.news-blocks-large {
  height: 500px;
  .large-img{
    width:100%;
    height: calc(100% - 50px );
  }
  h4{
    height: 50px;
  }
}
