.panel-menu {
    .panel {
        margin-bottom: 20px;
    }

    @include media('<=tablet-portrait') {
        &:last-of-type {
            .panel:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
.panel-primary{
  .hs_cos_wrapper_type_simple_menu
  {
    width:auto !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    li.hs-menu-item.hs-menu-depth-1 {
      a{
        font-weight: 800;
        font-size: 12px;
        padding-left: 25px;
      }
    }
  }
  .collapsable-menu,ul {
      list-style: none;
      padding: 0;
      margin: 0;

      @include media('<tablet') {
          padding: 0 32px;
      }

      li {
          margin: 7px 0;
          a {
              padding: 8px 12px;
              background-color: $sdcolor__brown--light;
              color: $black;
          }

          &.dropdown {
              .dropdown-toggle {
                  position: relative;
                  .fa-plus
                  {
                    display: none;
                  }
                  &.collapsed{
                    .fa-plus
                    {
                      display: block;
                    }
                    .fa-minus
                    {
                      display: none;
                    }
                  }
                  i.fas {
                      position: absolute;
                      right: 20px;
                      top: 10px;
                  }
              }
              .dropdown-collapse {
                  list-style: none;
              }
          }

      }
  }
}
