.pharma-blocks {
    border: 2px solid $bordercolor;
    margin-top: 72px;
    p{
          padding: 40px;
          font-size: 18px;
          padding-bottom: 5px;
          color:$black ;
    }
    h3{
      background: $bgcolor__main--1;
      margin: 0px;
      padding: 10px 40px;
      color:$white;
      text-align: center;
    }
    .icons {
      background: gray;
      width: 140px;
      height: 140px;
      position: relative;
      margin: auto;
      margin-top: -72px;
      border-radius: 50%;
      background:$bgcolor__main--3;
      img 
      {
        width: 100%;
      }
  }
}
