.pharma-blocks {
    border: 2px solid transparent;
    margin-top: 72px;
    text-align: center;
        position: relative;
    background: $scolor__gray--light;
    p{
          padding: 40px;
          padding-bottom: 5px;
          color: $black;
          padding-bottom: 50px;
          @include media('<tablet') {
            display: none;
          }
    }
    a {
        display: block;
        text-decoration: none;
        font-family: 'Helvetica Neue' !important;
        position: relative;
        bottom: 0px;
        width: 100%;
    }
    h3{
      background: $bgcolor__main--1;
      margin: 0px;
      padding: 10px 40px;
      color:$white;
      text-align: center;

      position: relative;
      bottom: 0px;
      width: 100%;

      @include media('<tablet') {
        background-color: unset;
        font-size: 15px;
        color: $black;
        padding: 10px 0;
      }
    }
    .icons {
      background: gray;
      width: 140px;
      height: 140px;
      padding: 0px;
      position: relative;
      margin: auto;
      margin-top: -72px;
      border-radius: 50%;
      border: 6px $scolor__silver solid;
      max-width: 200px;
          overflow: hidden;
      @include media('<tablet') {
        width: 70%;
        height: auto;
        border: none;
      }
      img {
        width: 100%;
      }
  }

  @include media('<tablet') {
        border: 0;
        margin-bottom: 16px;
        background-color: unset;
  }
}
