.pharma-blocks {
    border: 2px solid transparent;
    text-align: center;
        position: relative;
        border: 2px solid #BEB2A1;
    background: $scolor__gray--light;
    height: 100%;
    p{
      padding: 30px;
      padding-bottom: 10px;
      color:$black ;
      font-size: 18px;
          @include media('<tablet') {
            display: none;
          }
    }
    a {
        display: block;
        text-decoration: none;
        font-family: 'Helvetica Neue' !important;
        position: absolute;
      @include media('<tablet') {
             position: relative;
                 top: 10px;
      }

        bottom: 0px;
        width: 100%;
    }
    .temp-url
    { 
      @include media('<tablet') {
             display:none;
      }
    }
    h3{
      background: $bgcolor__main--1;
      margin: 0px;
      padding: 10px 40px;
      color:$white;
      text-align: center;
      width: 100%;

      @include media('<tablet') {
        background-color: unset;
        font-size: 15px;
        color: $black;
        padding: 10px 0;
      }
    }
    .text-field {
      padding-top: 72px;
    }
    .icons {
      width: 160px;
      height: 160px;
      padding: 0px;
      position: absolute;
      margin: auto;
      margin-top: -72px;
      border-radius: 50%;
      border: 6px $scolor__silver solid;
      max-width: 200px;
          overflow: hidden;

          margin-left: -80px;
          left: 50%;

      @include media('<tablet') {
        width: 80%;
        height: auto;
        border: 0;
        margin-left: -40%;
        left: 50%;
      }
      img {
        width: 100%;
      }
  }

  @include media('<tablet') {
        border: 0;
        margin-bottom: 16px;
        background-color: unset;
  }
}
