.send-box{
    padding: 16px;

    @include media('<=tablet') {
        padding: 16px;
    }
    h3{
        margin: 0;
    }
    .row{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .form-control{
            flex: 1;
            box-shadow: none;
            border: none;
            border-radius: 0;
            background-color: $sdcolor__brown--light;
        }
    }
    .btn-square{
        color: $white;
        background-color: $scolor__blue;
        width: 150px;
        height: 34px;
        font-size: 18px;
        padding: 0;
        font-weight: 600;
        margin-left: 16px;
        border-radius: 0;
    }
}