.send-box-report{
    padding: 32px;

    @include media('<=tablet') {
        padding: 16px;
    }
    .row{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .text{
        h3{
            margin: 0px;
        }
    }
    .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .form-control{
            flex: 1;
            box-shadow: none;
            border: none;
            border-radius: 0;
        }
    }
    .btn-circle{
        background-color: $white;
        color: $scolor__orange;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        font-size: 18px;
        padding: 0;
        font-weight: 600;
        margin-left: 32px;

        &:hover, &:focus {
            -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.59);
            -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.59);
            box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.59);
            outline: 0;
        }

        @include media('<=tablet') {
            margin-left: 16px;
        }
    }
}