.text-map-form{
    .col-md-6{
        @include media('<tablet') {
            margin-bottom: 16px;
        }

        @include media('<tablet') {
            &.form{
                background-color: $bgcolor__main--5;
            }
        }
    }
    @include media('<tablet') {
        .text{
            padding: 20px 32px;
        }
    }
    .form-wrapper{
        background-color: $bgcolor__main--5;
        padding: 32px;
    }
    select.form-control{
        background-color: $scolor__orange;
        color: $white;
    }
    .form-control{
        background-color: $dcolor__brown;
        
        @include placeholder {
            color: $white;
        }
    }
    .form-group{
        &:last-of-type{
            margin-bottom: 0px;
        }
    }
    textarea.form-control{
        margin-bottom: 0px;
        background-color: $white;
        max-width: 100%;
        min-width: 100%;
    }
    .form-control, .btn{
        box-shadow: none;
        border: none;
        border-radius: 0;
    }
    .btn-attach, .btn-full{
        background-color: $bgcolor__main--1;
        color: $white;
    }
    .btn-attach{
        width: 180px;
        padding: 10px;
    }
    .btn-full{
        width: 100%;
        border-radius: 0;
        border: none;
        height: 50px;
        font-size: 18px;

        @include media('<tablet') {
            margin-top: 16px;
        }
    }
    .map-info{
        
        @include media('>tablet') {
            margin-bottom: 16px;
        }
        .row{

            @include media('>tablet') {
                display: flex;
                align-items: stretch;  
            }
            @include media('<tablet') {
                display: flex;
                flex-direction: column;

                .col-info{
                    order: 1;
                    margin-bottom: 16px;
                }
                .col-map {
                    order: 2;
                }
            }
        }
        .map{
            background-size: cover;
            height: 100%;

            @include media('<tablet') {
                display: none;
            }
        }
        .map-xs{
            width: 100%;
            height: auto;
            @include media('>tablet') {
                display: none;
            }
        }
        .info{
            padding: 16px;
            background-color: $bgcolor__main--5;

            @include media('<tablet') {
                padding: 32px;
            }
            a{
                color: $black;
            }
        }
    }
}