module>.text-image-section {
  @include media('<tablet-portrait') {
    padding-top: 0;
  }
}

.imagefirst{
  @include media('>tablet') {
  .image-box {
      margin-right: -15px;
  }
}
}
.imagesecond
{
  .image-box {
    @include media('>tablet') {
      margin-left: -15px;
    }
  }
}


  .text__image
  {

    @include media('<tablet') {
      margin-right: 0;
      margin-left: 0;

      .text {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
    @include media('<tablet-portrait') {
      display: flex;
      flex-direction: column;

      .text {
        order: 1;
      }

      .column {
        margin-bottom: 20px;

        &:first-of-type {
          margin-bottom: 0;
        }
      }
    }

    &{
      .image-box {
        img {
          width: 100%;
        }
      }
      p {
        color: $black;
      }
    }
    &-circle
    {

      .text
      {
        padding-top: 40px;
        padding-bottom: 40px;
      }


      


      .image-box {
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        max-height: 100vw;
        img {
          width: 100%;
        }
        p {
          color: $black;
        }
        @include media('>desktop') {
          width: 400px;
          height: 400px;
          background: white;
          border-radius: 50%;
          overflow: hidden;
          img{
            width: auto;
            max-height: 100%;
          }
        }
      }
    }
  }
