<div class="row">
    <div class="col-lg-6 col-lg-push-2 col-md-7 col-md-push-1 col-sm-10 col-xs-12">
        <div class="rectangle">
            <h3>Sök lediga uppdrag</h3>
            <button>Till våra lediga uppdrag</button>
            <div class="circle-rect">
                <div class="circle-rect__consult">
                    <b>>25000</b>
                    <span>Konsulter</span>
                </div>
                <div class="circle-rect__company">
                    <b>>5000</b>
                    <span>konsultföretag</span>
                </div>
            </div>
        </div>
    </div>
</div>