
<div class="search-box">
        <div class="rectangle">
            <h3>Sök lediga uppdrag</h3>
              <a class="cta_button">Till våra lediga uppdrag</a>
            <div class="circle-rect">
                <div class="circle-rect__consult">
                    <b>>25000</b>
                    <span>Konsulter</span>
                </div>
                <div class="circle-rect__company">
                    <b>>5000</b>
                    <span>konsultföretag</span>
                </div>
            </div>
        </div>
</div>
<style>


</style>
<!--<script>
	$(document).ready(function() {
 		$('.circle-rect').animate({left: '0px'},{duration:2000});
	});
</script>-->
