
<div class="search-box">
        <div class="rectangle small">
            <h3>Sök lediga uppdrag</h3>
              <a class="cta_button">Sök</a>
        </div>
        <div class="circle-rect def-md-purple">
            <div class="circle-rect__consult">
                <b> > <div class="count">25000</div></b>
                <span>Konsulter</span>
            </div>
            <div class="circle-rect__company">
                <b> > <div class="count">5000</div></b>
                <span>konsultföretag</span>
            </div>
        </div>

</div>
