<div class="search-box">
        <div class="rectangle small">
            <h3>Sök lediga uppdrag</h3>
              <a class="cta_button">Sök</a>
        </div>
        <div class="circle-rect def-lg-purple {{ widget.circle_background }}">
            <div class="circle-texts">
                <div class="texts ">
                  <div class="each numbers  ">>25000</div>
                    <div class="each text">Konsulter</div>
                </div>
                <div class="texts">
                    <div class="each numbers">>5000</div>
                    <div  class="each text">konsultföretag</div>
                </div>
            </div>
        </div>
</div>
