<div class="row">

  <div class="events col-xs-12">
    <h1 class="title">
      Events
    </h1>
    <ul class="carousel">

      <li class="item" >

        <div class="event-box">
          <div class="event-image" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
          <div class="event-header def--darkBlue">
            3/9
            <br>
            Event 2

          </div>
          <div class="event-footer def--darkBlue">
            Var: Stockholm   |   När: 16:00
          </div>
        </div>
      </li>

      <li class="item pre" >

        <div class="event-box">
          <div class="event-image" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
          <div class="event-header def--darkBlue">
            3/9
            <br>
            Event 2

          </div>
          <div class="event-footer def--darkBlue">
            Var: Stockholm   |   När: 16:00
          </div>
        </div>
      </li>
      <li class="item active" >
        <div class="event-box">
          <div class="event-image" style="background-image:url(https://www.asociety.se/hubfs/Per-Anders%20och%20Jennie%20omgivning.jpg?t=1519305630030)"></div>
            <div class="event-header def--purple">
              4/9
              <br>
              Event 2
            </div>

            <div class="event-footer def--purple">
              Var: Stockholm   |   När: 16:00
            </div>
        </div>
      </li>
      <li class="item next" >
          <div class="event-box">
              <div class="event-image" style="background-image:url(https://www.asociety.se/hubfs/Milj%C3%B6_m%C3%A4nniskor-1.jpg?t=1519305630030)"></div>
              <div class="event-header def--redLight">
                5/9
                <br>
                Event 2
              </div>

              <div class="event-footer def--redLight">
                Var: Stockholm   |   När: 16:00
              </div>
          </div>
      </li>

      <li class="item" >

        <div class="event-box">
          <div class="event-image" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519305630030)">  </div>
          <div class="event-header def--darkBlue">
            3/9
            <br>
            Event 2

          </div>
          <div class="event-footer def--darkBlue">
            Var: Stockholm   |   När: 16:00
          </div>
        </div>
      </li>

    </ul>

    <p>
        Lorem ipsum dolor sit amet, velit morbi egestas bibendum neque luctus. Tempus nulla nibh, wisi ut et, id senectus vehicula in suscipit luctus metus. Fermentum donec sapien.
        Dis vulputate ac erat convallis diam, dolor aliquet curabitur, condimentum placerat scelerisque sit, mollis maecenas ad fermentum tincidunt laoreet vivamus.
    </p>

  </div>
  <div class="col-md-12">
        <button class="show-more-button">Visa alla</button>
      </div>

</div>
<script>

//next button click function
$('.pre--js').click(function() {



});

//prev button click function
$('.item').on('click', function (e) {
  if($(this).hasClass('next'))
  {
      swipleft();
  }
  if($(this).hasClass('pre'))
  {
    swipRight();
  }


});


function swipleft()
{
  if($('.item.next').next().length > 0)
  {
    $('.item.next').removeClass('next').next().addClass('next');
  }
  else {
    $('.item.next').removeClass('next')
    $('.carousel').children().first().addClass('next');
  }

  if($('.item.active').next().length > 0)
  {
    $('.item.active').removeClass('active').next().addClass('active');
  }
  else {
    $('.item.active').removeClass('active')
    $('.carousel').children().first().addClass('active');
  }


  if($('.item.pre').next().length > 0)
  {
    $('.item.pre').removeClass('pre').next().addClass('pre');
  }
  else {
    $('.item.pre').removeClass('pre')
    $('.carousel').children().first().addClass('pre');
  }

}


function swipRight()
{
  if($('.item.next').prev().length > 0)
  {
    $('.item.next').removeClass('next').prev().addClass('next');
  }
  else {
    $('.item.next').removeClass('next')
    $('.carousel').children().last().addClass('next');
  }

  if($('.item.active').prev().length > 0)
  {
    $('.item.active').removeClass('active').prev().addClass('active');
  }
  else {
    $('.item.active').removeClass('active')
    $('.carousel').children().last().addClass('active');
  }


  if($('.item.pre').prev().length > 0)
  {
    $('.item.pre').removeClass('pre').prev().addClass('pre');
  }
  else {
    $('.item.pre').removeClass('pre')
    $('.carousel').children().last().addClass('pre');
  }

}


</script>
