<div class="video video-wrapper--js">
  <div class="row">
    <div class="col-md-12 clearfix ">

      <div class="video-iframe">
        <div  id="video-placeholder">
        </div>
        <div class="video-button expand--js">
            <button class="play-button play--js"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
      </div>
        <div class="video-text">
          <h2>
            labore magna pariatur
          </h2>
          <p>
            Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna pariatur.
            Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur.
             Lorem deserunt officia consectetur amet tempor ipsum in non cillum.
          </p>
        </div>



    </div>
  </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script>

var player;
function onYouTubeIframeAPIReady() {
    player = new YT.Player('video-placeholder', {
        videoId: 'q6MnIyV1HOo',
        events: {
            onReady: initialize
        }
    });
}

$('body').on('click', '.contract--js', function (e) {

      $('.video-wrapper--js').removeClass('expanded');
      $(this).removeClass('contract--js').addClass('expand--js');
      player.pauseVideo();
      $('.play--js').fadeIn();
});
$('body').on('click', '.expand--js', function (e) {

  $('.video-wrapper--js').addClass('expanded');
  $(this).removeClass('expand--js').addClass('contract--js');
    setTimeout(function(){
      $('.play--js').fadeOut();
          player.playVideo();


    }, 500);
    return false;
});

function initialize(){
  return true;
}

</script>
