
 <div class="row" >
    <div class="banner"  style="height:750px;;background-image: url(/projectApi/assitera/static/images/AdobeStock_114063222.jpeg);background-repeat: no-repeat;background-size: cover; background-position-y: 100%;">
      <div class="overlay-down"></div>
        <video autoplay loop muted playsinline class="top-video" style="height:100%;width: 100%;z-index: -2;position:absolute;top:0px;left:0px;">
    	    <source src="{{ widget.video_url }}">
        </video>
     </div>
 </div>
