<eye id="floating-menu" class="floating-menu">
	<eye class="header-menu" >
	</eye>
	<eyenput class="menu-path"></eyenput>
	<eye class="floating-menu-container" >
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader"  data-target="edit-style" >
				<eye class="fa fa-pencil"></eye>
				<eye class="menu-itam-header">
					<%edit%>
				</eye>
			</eye>
			<eye class="menu-child">
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%edithtml%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%editstyle%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%editrichtext%>
						</eye>
					</eye>
				</eye>

				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%edittext%>
						</eye>
					</eye>
				</eye>

			</eye>
		</eye>

		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-hand-o-right"></eye>
				<eye class="menu-itam-header" >
					<%template%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa fa-files-o"></eye>
				<eye class="menu-itam-header" >
					<%variations%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa fa-users"></eye>
				<eye class="menu-itam-header" >
					<%audience%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-chevron-right"></eye>
				<eye class="menu-itam-header" >
					<%component%>
				</eye>
			</eye>
			<eye class="menu-child">
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%insidefirst%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%insidelast%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%before%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%after%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%replacewith%>
						</eye>
					</eye>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item" >
			<eye class="f-headerheader" >
				<eye class="fa fa-files-o"></eye>
				<eye class="menu-itam-header" >
					<%duplicate%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-level-up"></eye>
				<eye class="menu-itam-header" >
					<%select%>
				</eye>
			</eye>
			<eye class="menu-child">
				<eye class="floating-menu-item select-parent"  >
					<eye class="f-headerheader" >
						<eye class="fa fa-level-up"></eye>
						<eye class="menu-itam-header" >
							<%parent%>
						</eye>
					</eye>
					<eye class="menu-child">
						<eye class="floating-menu-item m-child" >
							<eye class="f-headerheader">
								/components/comp/navigation.html
							</eye>
						</eye>

					</eye>
				</eye>
				<eye class="floating-menu-item select-path"  >
					<eye class="f-headerheader" >
						<eye class="fa fa-plus"></eye>
						<eye class="menu-itam-header" >
							<%children%>
						</eye>
					</eye>
					<eye class="menu-child">
						<eye class="floating-menu-item m-child" >
							<eye class="f-headerheader">
								/components/comp/navigation.html
							</eye>
						</eye>
					</eye>
				</eye>
			</eye>
		</eye>

		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-files-o"></eye>
				<eye class="menu-itam-header" >
					<%copy%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-scissors"></eye>
				<eye class="menu-itam-header" >
						<%cut%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-clipboard"></eye>
				<eye class="menu-itam-header" >
					<%paste%>
				</eye>
			</eye>
			<eye class="menu-child">
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%insidefirst%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%insidelast%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%before%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%after%>
						</eye>
					</eye>
				</eye>
				<eye class="floating-menu-item m-child"  >
					<eye class="f-headerheader" >
						<eye class="menu-itam-header" >
							<%replacewith%>
						</eye>
					</eye>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-plus-circle"></eye>
				<eye class="menu-itam-header" >
					<%addClass%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-link"></eye>
				<eye class="menu-itam-header" >
					<%addlink%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item"  >
			<eye class="f-headerheader" >
				<eye class="fa fa-trash-o"></eye>
				<eye class="menu-itam-header" >
					<%hide%>
				</eye>
			</eye>
		</eye>
		<eye class="floating-menu-item" >
			<eye class="f-headerheader" >
				<eye class="fa fa-trash-o"></eye>
				<eye class="menu-itam-header" >
					<%remove%>
				</eye>
			</eye>
		</eye>
	</eye>
</eye>
