
<compontent src="../modules/header" ></compontent>
<div class="site-wrapper">

	<routes scope="{{project}}" savestate id="pages" trailing={{trailing}}>
	[
        	{path:'/', render:'/components/templates/home'},
        	{path:'/register', render:'/components/templates/standard'},
                {path:'/about-us', render:'/components/templates/standard'},
                {path:'/investors', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/csr', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/contact-us', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/news-archive', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/news-detail', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/management', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/management-profile', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/corporate-info-open-positions', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/open-position', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/search-results', render:'/components/templates/standard'}, <!-- About us-->
                {path:'/our-customers', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/pharma-cro-biotech', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/pharma-cro-biotech-subpage', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/pharma-clinical', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/pharma-clinical-subpage', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/distributors', render:'/components/templates/standard'}, <!-- Our customers-->
                {path:'/solutions', render:'/components/templates/standard'}, <!-- Solutions-->
                {path:'/products-and-kits', render:'/components/templates/standard'}, <!-- Solutions-->
                {path:'/products-and-kits-subpage', render:'/components/templates/standard'}, <!-- Solutions-->
                {path:'/bioanalytical', render:'/components/templates/standard'}, <!-- Solutions-->
                {path:'/diagnostics', render:'/components/templates/standard'}, <!-- Solutions--> 
                {path:'/tests', render:'/components/templates/standard'}, <!-- Solutions--> 
                {path:'/tests-subpage', render:'/components/templates/standard'}, <!-- Solutions--> 
                {path:'/technologies', render:'/components/templates/standard'}, <!-- Solutions--> 
                {path:'/resources', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/diseases', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/diseases-subpage', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/material', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/material-subpage', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/faq', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/faq-detail', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/book-a-meeting', render:'/components/templates/standard'}, <!-- Resources--> 
                {path:'/webinars', render:'/components/templates/standard'}, <!-- Resources--> 
                 
		{path:'/.*', render:'/components/templates/error404'}
	]
	</routes>
	<compontent src="../modules/footer"></compontent>
</div>
<compontent src="../modules/wheel-menu" ></compontent>
