
<compontent src="../modules/header" ></compontent>
<div class="site-wrapper">

	<routes scope="{{project}}" savestate id="pages" trailing={{trailing}}>
		[
				{path:'/', render:'/components/templates/home'},
				{path:'/investor',    render:'/components/templates/standard'},
				{path:'/register', render:'/components/templates/standard'},
                {path:'/about-us', render:'/components/templates/standard'},
				{path:'/.*', render:'/components/templates/error404'}
			]
	</routes>
	<compontent src="../modules/footer"></compontent>
</div>
