
$maxZindex: 9999;



$formBgcolor: #{$black} ;
$fontColor:#{$white};


$color1:#{$eyeTurquoise};

$color2:#{$grayDark};
$color3:#{$grayDarker};


$color5:#{$green};
$color6:#{$greenLight};


$color7:#{$eyeTurquoise};
$color8:#{$eyeTurquoiseLight};

