@font-face {
  font-family: 'UniversBold';
  src: url("https://cdn2.hubspot.net/hubfs/3391768/Design%20System/Fonts/UniversLTStd-BoldCn.otf") format("opentype"); }

@font-face {
  font-family: 'UniversLight';
  src: url("https://cdn2.hubspot.net/hubfs/3391768/Design%20System/Fonts/UniversLTStd-LightCn.otf") format("opentype"); }

@font-face {
  font-family: 'UniversUltra';
  src: url("https://cdn2.hubspot.net/hubfs/3391768/Design%20System/Fonts/UniversLTStd-UltraCn.otf") format("opentype"); }

@font-face {
  font-family: 'MinionPro';
  src: url("https://cdn2.hubspot.net/hubfs/3391768/Design%20System/Fonts/MinionPro-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Arial';
  src: url("https://cdn2.hubspot.net/hubfs/3391768/Design%20System/Fonts/Arial.ttf") format("opentype"); }