.avatar-image {
    max-width: 100%;
    position: relative;
    left: 0px;
}
.img-box-circle {
    overflow: hidden;
    margin: auto;
    border-radius: 100%;
  }
.avatar {
        padding: 20px;
        height: 240px;
}
