.block-12 {
  padding-left: 20px;
  padding-right: 20px;
  @include media('>=tablet')
   {
      .image-box {
          padding-left: 100px;
          padding-right: 100px;
      }
  }
  @include media('>=tablet-portrait')
   {

     .image-box {
         padding-left: 0px;
         padding-right: 0px;
     }
     img {
       position: absolute;
       height: 100%;
     }
     .text {
          padding: 90px;
          padding-left: 140px;
      }

    .image-box {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 512px;
        min-width: 413px;
        margin: 0px !important;
        background-position: 50%;
        background-size: cover;
        top: 90px;
        img {
          position: absolute;
          width: 100%;
        }
    }
  }

  @include media('>=lgscreen')
  {
    .text {
         padding: 90px;
     }
  }

    h2 {
    font-size: 48px;
    word-wrap: break-word;
  }
  p {
    font-size: 18px;
    	font-weight: 300;
      line-height: 27px;
    }
}
