.society_logo {
    position: absolute;
    max-width: 150px;
    margin-left: 50px !important;
    margin-top: 50px;
    height: auto;
    z-index: 9;
}
.banner {
    height: 50vh;
    overflow: hidden;
}
