.society_logo {
	position: absolute;
	max-width: 100px;
	margin-left: 3px!important;
	margin-top: 10px;
	top: 45px;
	z-index: 1;
	height: 100px;
	a {
		height: 100%;
		width: 110px;
	}
}

.banner {
	height: 60vh;
	overflow: hidden;
}

@include media ('>=tablet') {
	.society_logo {
		max-width: 250px;
		margin-left: 20px !important;
		margin-top: 15px;
		height: auto;
		width: 205px;
		height: 160px;
		a {
			height: 100%;
		}
	}
}

.st8 {
	fill: #FFF
}

svg {
	max-width: 80%;
	max-height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	path,
	polygon {
		fill-opacity: 0;
		fill: #91f5c4;
		stroke: #000;
		stroke-width: 2;
		stroke-dasharray: 3319;
		stroke-dashoffset: 3319;
		animation-name: draw;
		animation-duration: 5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
		animation-delay: 2s;
	}
}

@keyframes draw {
	90% {
		stroke-dashoffset: 0;
		stroke-width: 2;
		fill-opacity: 0;
	}
	100% {
		stroke-width: 0;
		fill-opacity: 1;
	}
}
  