
@mixin  makecolors($colors,$varname){

  @for $i from 0 to length($colors) {
      $thisColor: unquote(nth($colors, $i+1));
      --#{$varname}#{$i}: $thisColor;

  }




}


@mixin  makeBgcolors($colors,$varname){
  @for $i from 0 to length($colors) {
      $thisColor: unquote(nth($colors, $i+1));
      .Bgcolor--#{$varname}#{$i}{
          $thisColor: unquote(nth($colors, $i+1));
          background-color:$thisColor;

      }

  }
}
$dcolor-collection: (transparent,#0087cc, #aecc52, #ef7c00, #8f95ca,#ea5197,#ffd500,#749588,#beb2a1,#fce8e2,#fff6d9,#009ba4,#80cdd2,#d6e5a8,#f7bd7f,#c7cae4,#e6e2db,#f5f3f0,#bed7e4);
$scolor-collection: (transparent,#ffffff, #0087cc, #4a4a4a, #f5f3f0,#222222,#749588,#e6e2db,#000000,#ef7c00,#d8d8d8,#979797);
:root {
  /* Screen Colors */
  //@include makecolors($scolor-collection,'scolor');
  /* Document Colors */
  //@include makecolors($dcolor-collection,'dcolor');


}
@include makeBgcolors($scolor-collection,'scolor');
  /* Document Colors */
@include makeBgcolors($dcolor-collection,'dcolor');


/* Screen Colors */
$scolor__white: #ffffff;
$scolor__blue:  #0087cc;
$scolor__gray--dark: #4a4a4a;
$scolor__silver: #f5f3f0;
$scolor__brown: #222222;
$scolor__green: #749588;
$scolor__gray--light: #e6e2db;
$scolor__black: #000000;
$scolor__orange: #ef7c00;
$scolor__sliver: #d8d8d8;
$scolor__sliver--light: #979797;

/* Document Colors */
$dcolor__blue: #0087cc;
$dcolor__green--light: #aecc52;
$dcolor__orange: #ef7c00;
$dcolor__purple: #8f95ca;
$dcolor__lila: #ea5197;
$dcolor__yellow: #ffd500;
$dcolor__green: #749588;
$dcolor__brown: #beb2a1;
$dcolor__lila--light: #fce8e2;
$dcolor__yellow--light: #fff6d9;
$dcolor__turquoise: #009ba4;
$dcolor__turquoise--light: #009ba4;
$sdcolor__green--lighter: #80cdd2;
$dcolor__orange--light: #f7bd7f;
$sdcolor__purple: #c7cae4;
$sdcolor__brown--light: #e6e2db;
$sdcolor__milky: #f5f3f0;
$sdcolor__blue_turquoise: #bed7e4;

/* Primary colors*/
$bgcolor__main--1: #0087cc;
$bgcolor__main--2: #4a4a4a;
$bgcolor__main--3: #979797;
$bgcolor__main--4: #e6e2db;
$bgcolor__main--5: #e6e2db;

/* Primary colors*/
$linkcolor: #ffffff;
$pcolor: #4a4a4a;

/* Primary colors*/
$linkcolor: #ffffff;
$linkcolor1: #4a4a4a;
$pcolor: #222222;
$bordercolor: #beb2a1;

$black: #4a4a4a;
$white: #ffffff;
