
:root {
  /* Screen Colors */
  --scolor1: #FFFFFF;
  --scolor2: #0087CC;
  --scolor3: #4A4A4A;
  --scolor4: #F5F3F0;
  --scolor5: #BEB2A1;
  --scolor6: #749588;
  --scolor7: #E6E2DB;
  --scolor8: #000000;
  --scolor9: #EF7C00;
  --scolor10: #D8D8D8;
  --scolor11: #979797;

  /* Document Colors */
  --dcolor1: #0087CC;
  --dcolor2: #AECC52;
  --dcolor3: #EF7C00;
  --dcolor4: #8F95CA;
  --dcolor5: #EA5197;
  --dcolor6: #FFD500;
  --dcolor7: #749588;
  --dcolor8: #BEB2A1;
  --dcolor9: #FCE8E2;
  --dcolor10: #FFF6D9;
  --dcolor11: #009BA4;
  --dcolor12: #80CDD2;
  --dcolor13: #D6E5A8;
  --dcolor14: #F7BD7F;
  --dcolor15: #C7CAE4;
  --dcolor16: #E6E2DB;
  --dcolor17: #F5F3F0;
}

/* Screen Colors */
$scolor__white:  var(--scolor1);
$scolor__blue:  var(--scolor2);
$scolor__gray--dark: var(--scolor3);
$scolor__silver:  var(--scolor4);
$scolor__brown: var(--scolor5);
$scolor__green: var(--scolor6);
$scolor__gray--light:var(--scolor7);
$scolor__black: var(--scolor8);
$scolor__orange: var(--scolor9);
$scolor__sliver: var(--scolor10);
$scolor__sliver--light:var(--scolor11);

/* Document Colors */
$dcolor__blue:var(--dcolor1);
$dcolor__green--light:var(--dcolor1);
$dcolor__orange: var(--dcolor1);
$dcolor__purple: var(--dcolor1);
$dcolor__lila:var(--dcolor1);
$dcolor__yellow:var(--dcolor1);
$dcolor__green: var(--dcolor1);
$dcolor__brown:var(--dcolor1);
$dcolor__lila--light: var(--dcolor1);
$dcolor__yellow--light: var(--dcolor1);
$dcolor__turquoise:var(--dcolor1);
$dcolor__turquoise--light: var(--dcolor1);
$sdcolor__green--lighter: var(--dcolor1);
$dcolor__blue:var(--dcolor1);
$sdcolor__purple: var(--dcolor1);
$sdcolor__brown--light: var(--dcolor1);
$sdcolor__milky: var(--dcolor1);




/* Primary colors*/
$bgcolor__main--1 : var(--scolor2);
$bgcolor__main--2 : var(--scolor3);
$bgcolor__main--3 : var(--scolor11);
$bgcolor__main--4 : var(--scolor7);


/* Primary colors*/
$linkcolor : var(--scolor1);
$pcolor : var(--scolor3);

/* Primary colors*/
$linkcolor : var(--scolor1);
$pcolor : var(--scolor5);
$bordercolor : var(--dcolor8);

$black : var(--scolor3);
$white : var(--scolor1);
