compontent {
  display: none;
}

routes {
  display: none;
}

module {}

.fullwidth {
  width: 100%;
}

body {
  font-family: 'FilsonSoftRegular';
  background-color: #f7f7f7;
}

a {
  color: $defFontColor;
  display: block;
  text-decoration: none;
  font-family: 'FilsonSoftRegular' !important;
}

a:hover {
  color: $defFontColor;
  text-decoration: none;
  cursor: pointer;
}

.nopadding {
  padding: 0px;
}
@include media('<=tablet') {
  .banner {
      height: 27vh !important;
  }
}
.home .block-12 {
    @include media('>=tablet') {
      margin-top: 0px;
    }
}
