compontent {
  display: none;
}

routes {
  display: none;
}

.gr__localhost .hs-tools-menu
{
  display: none;
}

module {}

.fullwidth {
  width: 100%;
}

body {
  font-family: 'Helvetica Neue';
  background-color: $white;
}

a {
  color: $linkcolor;
  display: block;
  text-decoration: none;
  font-family: 'Helvetica Neue' !important;
}

a:hover {
  color: $linkcolor;
  text-decoration: none;
  cursor: pointer;
}
p{
  color:$pcolor;
}
h1,h2,h3,h4,h5,h6
{
  color:$pcolor;
}
.nopadding {
  padding: 0px;
}
@include media('<=tablet') {
  .banner {
      height: 27vh !important;
  }
}

.site-wrapper {
    margin-top: 78px;
}
.relative
{
  position: relative;
}
