
.gr__localhost .hs-tools-menu
{
  display: none;
}
.hs-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}


span.hs-form-required {
  position: absolute;
  color: red;
  top: 16px;
  left: 2px;
}

module{
  > .section {
    padding: 20px 0;
  }
  &:first-of-type {
    > .section{
      padding-top: 0;
    }
  }
  &:last-of-type {
    > .section{
      padding-bottom: 0;
    }
  }

  @include media('<tablet') {
    .pt-xs-0 {
      padding-top: 0;
    }
  }
}
.full-height
{
  position: relative;
  height: 100%;
  padding:15px;
}
.mobile-header
{    @include media('<tablet') {
        background-color:$scolor__blue;
    }
  h1
  {
    padding: 15px;
    margin-top: 0px;
    margin-left: -20px;
  }
}

p{
  word-break: break-word;
}


.cnt-spacing {
  > * {
    margin: 12px 0;

    &:first-child {
       margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.fullwidth {
  width: 100%;
}
@include media('<=tablet') {
  .padding__xs-10
  {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body {
  font-family: 'Helvetica Neue';
  background-color: $scolor__silver;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'Helvetica Neue' !important;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
p{
  color:$pcolor;
}
h1,h2,h3,h4,h5,h6
{
  color:$pcolor;
}

@include media('<desktop') {
  h1 {
    font-size: floor(($font-size-base * 2));
  }
  h2 {
    font-size: floor(($font-size-base * 1.6666666667));
  }
  h3 {
    font-size: floor(($font-size-base * 1.1666666667));
  }
}

@include media('<tablet') {
  h1 {
    font-size: floor(($font-size-base * 1.6666666667));
  }
  h2 {
    font-size: ceil(($font-size-base * 1.5));
  }
  h3 {
    font-size: floor(($font-size-base * 1.1666666667));
  }
}
.container-dynamic
{
  margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    @include media('>tablet-portrait') {
      width: 970px;
      }
    @include media('>desktop-big') {
      width: 1170px;
    }


}



p{
  font-size: 18px;
}



.nopadding {
  padding: 0px;
}

@include media('<tablet') {
  .no-padding-xs,
  module > .no-padding-xs {
    padding: 0;
  }
}

@include media('<tablet') {
  .no-margin-xs {
    margin: 0;
  }
}

@include media('<tablet') {
  .justify-content-xs-center {
    justify-content: center;
  }
}

@include media('<=tablet') {
  .banner {
      height: 27vh !important;
  }
}

.site-wrapper {
    margin-top: 83px;
    min-height: 882px;
    overflow-x: hidden;
    overflow-y: hidden;
    @include media('<tablet') {
      margin-top: 0;
    }
}

.relative
{
  position: relative;
}

.cnt-spacing {
  > * {
    margin: {
      top: 16px;
      bottom: 16px;
    };

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
