
$maxZindex: 9999;
/*Break points*/
$input-height-base: 34px;
$input-height-small: 30px;
$input-height-large: 46px;
$padding-base-horizontal: 12px;
$grid-gutter-width: 30px;


/*Break points*/
$formBgcolor: #fff ;
$defFontColor: #fff;

/* Typography */
$font-size-base: 12px;
$headings-font-weight: 300;

$font-size-h1:            floor(($font-size-base * 3));
$font-size-h2:            floor(($font-size-base * 2));
$font-size-h3:            ceil(($font-size-base * 1.5));
$font-size-h4:            ceil(($font-size-base * 1.25));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85));

/* Navbar */
$navbar-inverse-bg:         transparent;
$navbar-inverse-link-color: $scolor__white;
$navbar-margin-bottom:      0;

/*Break points*/
$breakpoints: (
  'phone': 320px,
  'tablet': 769px,
  'tablet-portrait': 992px,
  'desktop': 1024px,
  'desktop-big': 1086px,
  'lgscreen': 1200px,
  'mdlgscreen': 1300px,
  'xlscreen': 1600px
) !default;
