/* base Colors */

//---- white ----//
$white: #f7f7f7;
$black: #0d0d0d;

//---- green ----//
$green: #6fecbe;
$greenLight: #00f900;

//---- green ----//
$red: #d0021b;

//---- Black ----//
$black: #373737;
$blackLight: #646464;

//---- grey ----//
$grey: #979797;
$greyLight: #e5e5e5;
$grayDark: #cccccc;
$grayDarker: #808080;

//---- silver ---- //

$silver: #f2f2f2;
$silverLight: #f6f6f6;

/* Primary Colors */

//---- def red ----//
$defRed: #d0021b;
$defRedLight: #dd9b90;
$defRedDark: #ba000b;

//---- def orange ----//
$defOrange: #eca876;
$defOrangeLight: #ef8149;
$defOrangeDark: #d05314;

//---- def Cyan ----//
$defCyan: #35f6c2;

$defCyandarker: #25eade;

//---- def yellow ----//
$defYellow: #ffd502;

//---- def light-blue ----//
$defLightBlue: #6cbcc7;
$defLightBlueLight: #68e5db;
$defLightBlueLighter: #6ce2b8;
$defLightBlueDark: #b3d5ed;
$defLightBlueLightMed: #58b492;

//---- def dark-blue ----//
$defDarkBlue: #405f6e;
$defDarkBlueLight: #507f8d;
$defDarkBlueDark: #3a5464;

//---- def purple ----//
$defDarkPurple: #bc90d1;

//---- def turquoise - ----//
$defTurquoise: #6fecbe;
