@font-face {
  font-family: 'FilsonSoftRegular';
  src: url('https://cdn2.hubspot.net/hubfs/4226853/Assistera/Fonts/359889_0_0.eot');
  src: url('https://cdn2.hubspot.net/hubfs/4226853/Assistera/Fonts/359889_0_0.eot?#iefix') format('embedded-opentype'),url('https://cdn2.hubspot.net/hubfs/4226853/Assistera/Fonts/359889_0_0.woff2') format('woff2'),url('https://cdn2.hubspot.net/hubfs/4226853/Assistera/Fonts/359889_0_0.woff') format('woff'),url('https://cdn2.hubspot.net/hubfs/4226853/Assistera/Fonts/359889_0_0.ttf') format('truetype');



}
