

/* base Colors */


//---- white ----//
$white: #fff;

//---- green ----//
$green:#27AE61;
$greenLight:#00f900;
$greenDark:#44ae55;

//---- green ----//
$red: #BC261A;


//---- Black ----//
$black: #484848;
$blackLight: #1A1A1A;

//---- grey ----//
$grey: #95989A;
$grayLighter:#fafafa;
$greyLight: #767676;
$grayDark: #707070;
$grayDarker: #808080;

//---- silver ---- //

$silver: #F2F2F2;
$silverLight: #F6F6F6;

/* Primary Colors */

//---- def red ----//
$defRed: #D0021B;
$defRedLight: #DD9B90;
$defRedDark: #BA000B;

//---- def orange ----//
$defOrange: #ECA876;
$defOrangeLight: #EF8149;
$defOrangeDark: #D05314;

//---- def yellow ----//
$defYellow: #FBEE88;


//---- def light-blue ----//
$defLightBlue: #2986A2;
$defLightBlueLight: #68E5DB;
$defLightBlueLighter:#6ce2b8;
$defLightBlueDark: #B3D5ED;

//---- def dark-blue ----//
$defDarkBlue: #405F6E;
$defDarkBlueLight: #507F8D;
$defDarkBlueDark: #3A5464;

//---- def purple ----//
$defDarkPurple: #BC90D1;

//---- def turquoise - ----//
$defTurquoise: #6FECBE;
