@font-face {
  font-family: 'GravityRegular';
  src: url("https://cdn2.hubspot.net/hubfs/4011209/Graphics/Fonts/Gravity-Regular.otf") format("opentype"); }
  @font-face {
    font-family: 'GravityLightItalic';
    src: url("https://cdn2.hubspot.net/hubfs/4011209/Graphics/Fonts/Gravity-LightItalic.otf") format("opentype"); }
    @font-face {
      font-family: 'GravityLight';
      src: url("https://cdn2.hubspot.net/hubfs/4011209/Graphics/Fonts/Gravity-Light.otf") format("opentype"); }
      @font-face {
        font-family: 'GravityBold';
        src: url("https://cdn2.hubspot.net/hubfs/4011209/Graphics/Fonts/Gravity-Bold.otf") format("opentype"); }
