
<div class="search-box">
        <div class="rectangle">
            <h3>Sök lediga uppdrag</h3>
              <a class="cta_button">Till våra lediga uppdrag</a>
            <div class="circle-rect">
                <div class="circle-rect__consult">
                    <b>> <i class="count">25000</i></b>
                    <span>Konsulter</span>
                </div>
                <div class="circle-rect__company">
                    <b> > <i class="count">5000</i></b>
                    <span>konsultföretag</span>
                </div>
            </div>
        </div>
</div>
