<div class="full-width gray-background">
	<div class="container">
		<div class="row ratings">

			<div class="col-md-6 col-md-offset-3 user-reviews">
				<h3>Vad tycker våra kunder?</h3>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
				<h5>John Doe, IFÖ</h5>	
					<button class="show-more-button">Visa mer</button>
			</div>
		</div>
	</div>
</div>
