<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="wrap-recommended-product">
				<h3>Rekommenderade produkter</h3>
				<p>Has alii petentium ad, ad verear audire eam.as alii possit petentium ad, ad verear audire eam. Mea id irure atomorum democri- tum, saepe splendide te eum verear audire eam</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="wrap-recommended-product">
				<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/android.svg" />
				<h3>Produktnamn</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
</div>
