<div class="container">
    <div class="row">

 
            <div id="hs_cos_wrapper_widget_1517488792364" class=" mobile-slider hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_image_slider" style="" data-hs-cos-general-type="widget" data-hs-cos-type="image_slider">
                <div id="hs_cos_flex_slider_widget_1517488792364" class="hs_cos_flex-slider flex-slider-main slider-mode-slider">  
                    <div class="hs_cos_flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="hs_cos_flex-slides hs_cos_flex-slides-main " style="width: 800%; transition-duration: 0s; transform: translate3d(-1140px, 0px, 0px);">
                            <li class="hs_cos_flex-slide-main clone" aria-hidden="true" style="width: 1140px; float: left; display: block;">
                            <!--<img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/Screen%20Shot%202017-12-08%20at%2011.14.32.png?t=1516978379209" alt="Screen Shot 2017-12-08 at 11.14.32.png" title="Screen Shot 2017-12-08 at 11.14.32.png" draggable="false">-->
                            <img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/android.svg" />
                            <div class="slider-image-desc">
                                <h2>Title</h2>
                                <p>Slider description</p>
                            </div> 
                            </li>
                
                            <li class="hs_cos_flex-slide-main hs_cos_flex-active-slide" style="width: 1140px; float: left; display: block;">
                            <!--<img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/Screen%20Shot%202017-12-08%20at%2011.14.22.png?t=1516978379209" alt="Screen Shot 2017-12-08 at 11.14.22.png" title="Screen Shot 2017-12-08 at 11.14.22.png" draggable="false">-->
                            <img src="https://s.cdpn.io/3/kiwi.svg" />
                            <div class="slider-image-desc">
                                <h2>Title</h2>
                                <p>Slider description</p>
                            </div>                  
                            </li>
                                <!--<li class="hs_cos_flex-slide-main" style="width: 1140px; float: left; display: block;">
                                    <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/Screen%20Shot%202017-12-08%20at%2011.14.32.png?t=1516978379209" alt="Screen Shot 2017-12-08 at 11.14.32.png" title="Screen Shot 2017-12-08 at 11.14.32.png" draggable="false">
                                    
                                </li>

                                <li class="hs_cos_flex-slide-main clone" aria-hidden="true" style="width: 1140px; float: left; display: block;">
                                    <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/Screen%20Shot%202017-12-08%20at%2011.14.22.png?t=1516978379209" alt="Screen Shot 2017-12-08 at 11.14.22.png" title="Screen Shot 2017-12-08 at 11.14.22.png" draggable="false">
                                    
                                </li>-->
                        </ul>
                    </div>
                               <!--<ol class="hs_cos_flex-control-nav hs_cos_flex-control-paging">
                                    <li>
                                        <a class="hs_cos_flex-active">1</a>
                                    </li>
                                    <li>
                                        <a class="">2</a>
                                    </li>
                                </ol>-->
                        <ul class="hs_cos_flex-direction-nav">
                            <li>
                                <a class="hs_cos_flex-prev slide-prev fa fa-chevron-left" href="#"></a>
                            </li>
                            <li>
                                <a class="hs_cos_flex-next slide-next fa fa-chevron-right" href="#"></a>
                            </li>
                        </ul>
                </div>
            </div>

    </div>
</div>
<script>
    window.hsSliderConfig = window.hsSliderConfig || {};
    window.hsSliderConfig['widget_1517488792364'] = {
        mode: 'slider',
        mainConfig: {"animationLoop":true,"direction":"horizontal","slideshowSpeed":5000.0,"controlNav":true,"smoothHeight":false,"namespace":"hs_cos_flex-","slideshow":true,"selector":".hs_cos_flex-slides > li","animation":"slide"}
    };
</script>
