

<div class="col-xs-12 ">
		<div class="news-block">
				<div class="row">
					<div class="equalise-height">
						<div class="col-md-9 news-content-image">
							<h3>Image Placeholder</h3>
						</div>
						<div class="col-md-3 news-content">
							<p class="green">NYHET</p>
							<p>2017-12-14</p>
							<p class="bold">Limteknik för tunga fordon ger säkrare rutbyte på din bil</p>
							<p class="green">Läs mer</p>
							<!--Mobile--><i class="fa fa-share-alt" aria-hidden="true"></i>
							<!--Desktop-->
							<div class="desktop-news-social-icons">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
								<i class="fa fa-twitter" aria-hidden="true"></i>
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<i class="fa fa-link" aria-hidden="true"></i>
							</div>
						</div>
					</div>

				</div>
			</div>
</div>
