<div class="full-width">
	<div class="container">
		<div class="row product-use">
			<div class="col-md-12">
				<h2>Hur används våra produkter?</h2>
			</div>
			<!-- Desktop -->
			<div class="col-md-4 hidden-xs">
				<img src="https://imgur.userecho.com/s/attachments/2015/1/0/17.png" />
				<h4>Bilfirma</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
			<div class="col-md-4 hidden-xs">
				<img src="https://imgur.userecho.com/s/attachments/2015/1/0/17.png" />
				<h4>Lantbruk</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
			<div class="col-md-4 hidden-xs">
				<img src="https://imgur.userecho.com/s/attachments/2015/1/0/17.png" />
				<h4>Måleri</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
		</div>
	</div>
</div>
<style>

.product-use img{
	width:14%;
	margin-top:44px;
	margin-bottom:36px;
}
	</style>
