<div class="full-width base--silverLight">
	<div class="container">
        <div class="row product-use-silver">
        	<div class="col-md-6 col-md-offset-3 product-use-header">
        		<h3>Performance with responsibility</h3>
                <p>Inom hela vår verksamhet arbetar vi enligt kvalitets- och miljösäkrade processer. Vi har en ambition och drivkraft att vara ett föredömme 
                    och ständigtförbättra vår verksamhet för att minska påverkan på miljön.
                </p>
        	</div>
        	<!-- Desktop -->
        	<div class="col-md-4">
                <div class="img-bg">
        		  <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/online_test.png?t=1518101304442">
                </div>
        		<h4>Title</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
        	<div class="col-md-4">
                <div class="img-bg">
                  <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/expert_professor.png?t=1518101304442">
                </div>
        		<h4>Title2</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
        	<div class="col-md-4">
                <div class="img-bg">
        		  <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/trusted_certification.png?t=1518101304442">
                </div>
        		<h4> Title3</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
            <div class="col-md-12">
                <button class="show-more-button">Visa alla områden</button>
            </div>
        </div>
    </div>
</div>