<div class="full-width">
	<div class="container">
		<div class="row product-use">
			<div class="col-md-12">
				<h2>Hur används våra produkter?</h2>
			</div>
			<!-- Desktop -->
			<div class="col-md-4 hidden-xs">
				<i class="fa fa-pied-piper product-use-icon"></i>
				<h4>Bilfirma</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
			<div class="col-md-4 hidden-xs">
				<i class="fa fa-pied-piper product-use-icon"></i>
				<h4>Lantbruk</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
			<div class="col-md-4 hidden-xs">
				<i class="fa fa-pied-piper product-use-icon"></i>
				<h4>Måleri</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
			</div>
		</div>
	</div>
</div>