<div class="full-width base--silverLight">
	<div class="container">
        <div class="row product-use">
        	<div class="col-md-12">
        		<h2>Hur används våra produkter?</h2>
        	</div>
        	<!-- Desktop -->
        	<div class="col-md-4">
        		<img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/expert_professor.png?t=1518101304442">
        		<h4>Title</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
        	<div class="col-md-4">
        		<img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/online_test.png?t=1518101304442">
        		<h4>Title2</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
        	<div class="col-md-4">
        		<img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Images/trusted_certification.png?t=1518101304442">
        		<h4> Title3</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor icididunt.</p>
        	</div>
        </div>
    </div>
</div>
