<div class="col-md-6 recommended-product">
			<img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/android.svg" />
			<h2>Produktnamn</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<hr class="product-underline">
		</div>
		<div class="col-md-6 recommended-product">
			<img src="https://s.cdpn.io/3/kiwi.svg" />
			<h2>Produktnamn</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<hr class="product-underline">
		</div>