<div class="col-md-6">
	<h2>Måleri</h2>
	<hr class="long-underline">
	<p>Lorem ipsum dolor sit amet, purto luptatum quo ne, eu novum graeci liberavisse sit, usu te delectus percipitur. Ea usu elitr definiebas delicatissimi, has id tation utinam. Iudico ridens nam no. Mea vidit utinam pertinax no, ne alia antiopam vix, ut nec rebum mucius quaeque. In quo eripuit docendi, esse inermis deserunt qui in. Eius convenire ad nec, eu essent mentitum vim. Alii efficiendi sed cu, pri quem illud noluisse te. Saperet nusquam et cum.</p>
</div>
<div class="col-md-6">
	<h2>Landbruk</h2>
	<hr class="long-underline">
	<p>Lorem ipsum dolor sit amet, purto luptatum quo ne, eu novum graeci liberavisse sit, usu te delectus percipitur. Ea usu elitr definiebas delicatissimi, has id tation utinam. Iudico ridens nam no. Mea vidit utinam pertinax no, ne alia antiopam vix, ut nec rebum mucius quaeque. In quo eripuit docendi, esse inermis deserunt qui in. Eius convenire ad nec, eu essent mentitum vim. Alii efficiendi sed cu, pri quem illud noluisse te. Saperet nusquam et cum.</p>
</div>
