<div class="overlay"></div>
 <div class="row" >
    <div class="banner"  style="height: 600px;background-image: url('/projectApi/veidec/static/images/header.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: 100%;">
        <video autoplay loop muted playsinline class="top-video" style="height:100%;width:100%;position:absolute;top:0px;left:0px;">
    	    <source src="{{ widget.video_url }}">
        </video>


        <div class="banner-title text-center">
            <h1>
        				<span class="service-link service-link-1">Career</span>
        				or
        				<span class="service-link service-link-2">Business</span>
    			   </h1>
  			    <a href="/tjanster" class="service-intro service-intro-2 angle-right">
  				        <span>Take your business to the next level</span>
  			    </a>
  		</div>
     </div>
 </div>
