<div class="overlay"></div>
 <div class="row" >
    <div class="banner"  style="height: 600px;background-image: url('/projectApi/veidec/static/images/header.jpg');background-repeat: no-repeat;background-size: cover;background-position-y: 100%;">
        <video autoplay loop muted playsinline class="top-video" style="height:100%;width:100%;position:absolute;top:0px;left:0px;">
    	    <source src="{{ widget.video_url }}">
        </video>


        <div class="banner-title text-center ">
           <h1 style="color:#fff">
             Change to <span class="font--green">Green<span>
    	    </h1>
    	    <h6 syle="color:#fff">Gröna och säkra arbetsplatser genom kunskap och giftfria produkter</h6>
            <a href="/tjanster" class="service-intro service-intro-2 angle-right">
          	   <button class="btn btn-showmore">Visa mer</button>
             </a>
        </div>
     </div>
 </div>
