
<div class="ads">
    <compontent src="../general/row.html"  data='{"backgroundColor":"","backgroundImage":""}'>
            <compontent src="/components/modules/general/ad-list.html" data='{
              "ads":[
                 {"description": "Croatia", "link": "#","image":"/static/images/logo.png"},
                 {"description": "Croatia", "link": "#","image":"/static/images/logo.png"},
                 {"description": "Croatia", "link": "#","image":"/static/images/logo.png"},
                 {"description": "Croatia", "link": "#","image":"/static/images/logo.png"}
                 ]
               }' >
            </compontent>
    </compontent>
</div>
