<div class="home">
 	<compontent src="../modules/global/header" ></compontent>
</div>
<div class="site-wrapper">
	<compontent src="../modules/global/addons"></compontent>
  		<section >
      		<div class="container-fluid" style="position: relative;" >
        		<compontent src="../modules/general/video-banner"></compontent>
     		<div>
  		</section>
  		<!--Home Sections-->
  		<compontent src="../modules/general/brands"></compontent><!--Brand co op-->
  		<compontent src="../modules/general/customer-reviews"></compontent><!--Rating -->
  		<compontent src="../modules/general/product-usage"></compontent><!--product usage-->
  		<compontent src="../modules/general/mobile-slider"></compontent>
  		<!--<compontent src="../modules/general/gray-background-section"></compontent>-->
  		<!--<compontent src="/components/contents/trailing"></compontent>-->
	<compontent src="../modules/global/footer"></compontent>
</div>
