.overlay{
	position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(43, 43, 43, 0.01), #000);
  /* background-image: -webkit-linear-gradient(rgba(255,0,0,0), rgba(255,254,251,0) 0%, #fff 81.09%); */
  z-index: 1;
  bottom: 0;
  left: 0;
}

.banner {
	overflow: hidden;




	@include media('>=tablet') {

	}

	.banner-section-text {
			-webkit-animation: intro-fade 1.5s linear;
			animation: intro-fade 1.5s linear;
			bottom: 0;
			position: absolute;
			width: 90%;
			z-index: 5;
			bottom: 10%;
			left: 50%;
			margin-left: -40%;
			width: 80%;
			@include media('>=tablet') {
	    	 bottom: 25%;
	    }
	}
	.banner-title {
		-webkit-animation: intro-fade 1.5s linear;
	    animation: intro-fade 1.5s linear;
	    position: absolute;
	    width: 90%;
	    z-index: 5;
	    top: 4px;
	    left: 50%;
	    margin-left: -40%;
	    width: 80%;
			@include media('>=tablet') {
				 top: 4%;
	    }
			@include media('>=desktop') {
				 top: 15%;
			}
			@include media('>=desktop-big') {
				 top: 24%;
			}
		.btn-showmore
		{
			font-size: 12px;
			@include media('>=tablet') {
				font-size: 16px;
			}
		}
		h1
		{
		  font-size: 15px;
		  @include media('>=tablet') {
			font-size: 64px;
		  }
		}
		h3{
			font-size:12px;
			padding-left: 10px;
			padding-right: 10px;
			 @include media('>=tablet') {
				 font-size:24px;
			 }
		}
		span{
			padding-left:10px;
		}
	}
	.banner-btn {
    margin-top: 30px;
	}
}
