.banner-section{
	position:relative;
	height: 400px;
    background-image: url('https://i.imgur.com/0r7qN8U.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    .banner-section-text{
        padding-top:120px;
        color:$white;
    }
}
.apply-button{
    border: 2px solid $greenDark;
   	color: $white;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: $greenDark;
    padding: 10px 64px;
    margin-top: 12px;
    margin-bottom: -12px;
}