.banner-section{
	position:relative;
	height: 400px;
    background-image: url('https://i.imgur.com/0r7qN8U.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    .banner-section-text{
        padding-top:82px;
        color:$white;
    }
}
.apply-button{
    border: 2px solid $greenDark;
   	color: $white;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: $greenDark;
    padding: 12px 0;
    width:250px;
    margin:26px 0 0 0;
    transition:0.3s;
    &:hover{
        background:$white;
        border: 2px solid $white;
        color:$greenDark;
        transform:translateY(-2px);
        box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
        transform: scale(1.03, 1.03);
    }
}
.light-font{
        font-family: 'GravityLight';
}