/*.form-title {
  color: #507f8d;
  font-size: 30px;
}

textarea {
  height: 130px;
}

.input input,
textarea {
  border-radius: 20px;
  width: 100%;
  border: 1px solid #6cbcc7;
}

.hs-button {
  border-radius: 20px;
  border: 1px solid #68e5db;
  background-color: #6fecbe;
  color: #507f8d;
  margin: 10px 10px 20px 0;
  box-shadow: 0px 2px 1px #ccc;
  width: 250px !important;
}

span.hs-form-required {
  position: absolute;
  left: 0px;
  top: 10px;
}

.hs-form-field label {
  position: relative;
}
*/