.footer{
    background:$silverLight;
        margin-top: 20px;
    h3{
        margin-left:5px;
        font-family: 'GravityRegular';
    }
    .widget-type-logo {
    width: 200px !important;
    position: relative;
    left: 50%;
    margin-top:0;
    transform: translateX(-50%);
    @media (min-width: 768px) {
        left:0%;
        transform:translateX(0%);
        margin-top:20px;
        }
    }
}
.footer-icons{
    .col-sm-4{
        display:none;
    }
      text-align: center;
    .col-xs-6{
        display:block;
        h4{
            margin-top:30px;
        }
        p:nth-child(7){
            margin-bottom:40px;
        }
    }
    @include media('>=tablet') {
        .col-sm-4{
            display:block;
        }
        .col-xs-6{
            display:none;
        }
    }

    .fa {
        font-size: 30px;
        display: block;
    }
}

span.hs-form-required {
    position: absolute;
    color: #bc261a;
    top: 26px;
    right: 8px;
    z-index: 2;
}

@media(min-width: 768px) {
    span.hs-form-required {
        top: 27px;
    }
}


footer
{
  .fas,.fa{
      font-size:250%;
      margin-top:5px;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $greenDark;
  }
  form .hs-form-field {
    margin-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
  }

   .social a {
      color: black;
      display: inline-block;
  }

  span.hs-form-required {
    position: absolute;
    color: $red;
    top:26px;
    right:14px;
    z-index:2;
    @include media('>=tablet') {
        top:32px;
    }

    }
}






.input{
    position:relative;
    input,textarea{
        font-size:16px;
        width:100%;
        padding-left:10px;
        margin:0px;
        border-radius:5px;
        resize:none;
        margin-bottom: 10px;
    }
    textarea{
        height:160px;
    }
}
.fa-envelope-o{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 150%;
    opacity:0.8;
}

.hs_submit input{
    border-radius: 5px;
    background:$greenDark;
    border-color: $greenDark;
    border:0;
    padding: 8px;
    color:$white;
    font-size:16px;
    margin-top:5px;
    margin-bottom:40px;
    transition:0.3s;
    cursor: pointer;
    padding: 10px 40px;
}
.social{
    text-align: center;
    padding:20px 0 10px 0;
    .fa{
        font-size:250%;
        padding: 0px 20px;
        margin:20px 0px 10px 0px;
    }
    .fab{
        font-size:250%;
        padding: 0px 20px;
        margin:20px 0px 10px 0px;
    }

    .hs_submit input{
        width: 100%;
        border-radius: 5px;
        background:$greenDark;
        border-color: $greenDark;
        padding: 8px;
        color:$white;
        font-size:16px;
        margin-bottom:40px;
    }
  }

    .footer-logo{
        text-align:center;
        img{
            margin:22px 0px;
            width:40%;
        }
    }
    .subscribe-input{
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        position: relative;
    }

    @include media('>=tablet') {
        .input{
            input,textarea{
                width:100%;
                margin:10px 5px 5px 5px;
            }
        }
        .contact{
            order:1;
        }
        .news-letter{
            order:2;
        }
        .fa-envelope-o{
            top: 20px;
            right: 120px;
        }
        .fa-map-marker, .fa-phone, .fa-fax{
            margin-top:10px;
        }
        .hs_submit input{
            margin-left:5px;
            border: 0px;
            transition:0.3s;

        }
        .social{
            text-align:right;
            order:2;
            .fa{
                padding: 0px 0px 0px 50px;
            }
            .fab{
                padding: 0px 0px 0px 50px;
            }
        }

        /*.hs_submit .subscribe{
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
            position: absolute;
            padding: 11px;
            width: 25%;
            top: 80px;
            right: 15px;
            border-color:$greenDark;
        }*/
        .subscribe-input{
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
            position: relative;
        }
        .footer-logo{
            text-align:left;
            order:1;
        }
        .footer-icons{
            .col-md-4{
                text-align:left;
            }
            p{
                margin:0px 0px 5px;
                padding:5px 0px;
            }
            .order-telefon{
                margin-top:26px;
            }
        }
    }
    footer img.hs-image-widget {
        width: 100%!important;
        padding: 15px 14% 0 14%;
        @include media('>=tablet') {
            /*width:66%!important;*/
            padding:30px;
            position:relative;
            left: 50%;
            transform: translateX(-50%);
        }

    }
