

header {

position: absolute;
top:0px;
left:0px;
width:100%;
@include media ('>=tablet') {
	.general_logo {
		max-width: 250px;
		margin-left: 20px !important;
		margin-top: 15px;
		height: auto;
		width: 205px;
		height: 160px;
		a {
			height: 100%;
		}
	}
}

}
