

header {

position: absolute;
top:0px;
left:0px;
width:100%;
z-index: 10;



.widget-type-logo img {
    width: 100% !important;
}

.general_logo {
    position: absolute;
    max-width: 80px;
    top: 8px;
    left: 10px;
}

@include media ('>=tablet') {


	.general_logo {
    margin-top: 5px !important;
    position: absolute;
    top: 5px;
    left: -80px;
    max-width: 120px;

	}

}
}
