.brands{
	text-align:center;
	p{
		margin:12px 0px;
	}
	.fa{
		font-size:300%;
		padding: 12px 26px;
	}
}
.gray-background{
	text-align:center;
	background-color:#fafafa;
}
.ratings{
	.fa-star{
		color:#f1c40f;
		font-size:240%;
		padding:8px 8px 12px 8px;
	}
}
.show-more-button{
	border:2px solid $greenDark;
	color:$greenDark;
	font-size:16px;
	text-transform:uppercase;
	border-radius:5px;
	background:transparent;
	padding:10px 64px;
	margin-top:12px;
	margin-bottom:-12px;
}
.product-use{
	text-align:center;
	.product-use-icon{
		font-size:250%;
		color:$greenDark;
		margin: 44px 0px 36px 0px;
	}
	p{
		padding:0px 30px;
		text-align:center;
	}
}






