.brands{
	text-align:center;
	margin:42px auto;
	p{
		margin:12px 0px;
	}
	img{
		width:30%;
		padding:8px 12px;
		@include media('>=tablet') {
			width:10%;
		}

	}
}
.product-use img{
	width:14%;
	margin-top:44px;
	margin-bottom:36px;
}
.gray-background{
	text-align:center;
	background-color:#fafafa;
}
.ratings{
	margin-bottom:50px;
	h3{
		margin-top:34px;
	}
	.fa-star{
		color:$starYellow;
		font-size:240%;
		padding:8px 8px 12px 8px;
	}
}
.show-more-button{
	border:2px solid $greenDark;
	color:$greenDark;
	font-size:16px;
	text-transform:uppercase;
	border-radius:5px;
	background:transparent;
	padding:10px 64px;
	margin-top:12px;
	margin-bottom:-12px;
}
.product-use{
	text-align:center;
	img{
		width:14%;
		margin-top:44px;
		margin-bottom:36px;
	}
	p{
		padding:0px 30px;
		text-align:center;
	}
}
.slide-prev{
    color:black;
    display:block!important;
    position: absolute;
    top:46px;
    left: 10px;
    text-align:center;
    z-index:2;
    @include media('>=tablet') {
    	top: 156px;
    }
}
.hs_cos_flex-prev:before {
    content: "\f053";
    -webkit-text-stroke: 4px $grayLightest;
    background:$grayLightest;
    color:$grayDarkest;
    border-radius: 50%;
    padding: 10px 14px 10px 10px;
		display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
    font-size: 220%;
}
.slide-next{
    display:block!important;
    text-align:center;
    color:black;
    position: absolute;
    top: 46px;
    right: 10px;
    z-index:2;
    @include media('>=tablet') {
    	top: 156px;
    }
}
.hs_cos_flex-next:before{
    content: "\f054";
    font-size:220%;
    -webkit-text-stroke: 4px $grayLightest;
    background:$grayLightest;
    color:$grayDarkest;
    border-radius:50%;
    padding:10px 10px 10px 14px;
		display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
    font-size: 220%;
}
.hs_cos_flex-active{
    display:none;
}
a.hs_cos_flex-prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -30px;
    left: 0px;
}
a.hs_cos_flex-next {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -30px;
    right: 0px;
}
.hs_cos_flex-direction-nav li{
    list-style-type: none;
}
.hs_cos_wrapper_type_image_slider{
	display:block;
	position:relative;
    ol{
      	display:none;
    }
}
@include media('>=tablet') {
	.hs_cos_flex-viewport {
	ul{
		margin-left:-38px;
		}
	}
}
.slider-image-desc{
	p{
    	width:78%;
    	margin-top:20px;
    	text-align:center;
    	font-size:16px;
    	@include media('>=tablet') {
    	margin:0 auto;
    	}
	}
    h2{
    	width:78%;
    	text-align:center;
    		@include media('>=tablet') {
    		margin:0 auto;
    	}
    }
}
.hs_cos_flex-slide-main img {
    max-height: 400px;
    max-width: 95%;
    margin: 0 auto;
		height: auto !important;
		@include media('<tablet') {
			position: relative;
			left:-40px;
		}
}
.flex-slider-main
{
	text-align: center;
}
.hs_cos_flex-slide-main {
    height: 400px;
		    text-align: center;
}
