.brands{
	text-align:center;
	margin:42px auto;
	p{
		margin:12px 0px;
	}
	img{
		width:20%;
		padding:8px 12px;
		@include media('>=tablet') {
			width:8%;
		}
	}
}
.gray-background{
	text-align:center;
	background-color:#fafafa;
}
.ratings{
	margin-bottom:50px;
	h3{
		margin-top:34px;
	}
	.fa-star{
		color:$starYellow;
		font-size:240%;
		padding:8px 8px 12px 8px;
	}
}
.show-more-button{
	border:2px solid $greenDark;
	color:$greenDark;
	font-size:16px;
	text-transform:uppercase;
	border-radius:5px;
	background:transparent;
	padding:10px 64px;
	margin-top:12px;
	margin-bottom:-12px;
}
.product-use{
	text-align:center;
	img{
		width:14%;
		margin-top:44px;
		margin-bottom:36px;
	}
	p{
		padding:0px 30px;
		text-align:center;
	}
}
.slide-prev{
    color:black;
    display:block!important;
    position: absolute;
    top: 46px;
    left: 10px;
    text-align:center;    
    z-index:2;
}
.slide-prev:before {
    content: "\f053";
    font-size:220%;
    -webkit-text-stroke: 4px $grayLightest;
    background:$grayLightest;
    color:$grayDarkest;
    border-radius: 50%;
    padding: 10px 14px 10px 10px;
}
.slide-next{
    display:block!important;
    text-align:center;    
    color:black;
    position: absolute;
    top: 46px;
    right: 10px;
    z-index:2;
}
.slide-next:before{
    content: "\f054";
    font-size:220%;
    -webkit-text-stroke: 4px $grayLightest;
    background:$grayLightest;
    color:$grayDarkest;
    border-radius:50%;
    padding:10px 10px 10px 14px;
} 
.hs_cos_flex-active{
    display:none;
}
.hs_cos_flex-direction-nav a{
    display:none;
}
.hs_cos_flex-direction-nav li{
    list-style-type: none;
}
.hs_cos_wrapper_type_image_slider{
	display:block;
	position:relative;
    ol{
      	display:none;
    }
	@include media('>=tablet') {
		display:none;
	}
}
.slider-image-desc p{
    width:78%;
    margin-top:20px;
    text-align:center;
    font-size:16px;
}
.hs_cos_flex-viewport img{
    display:block;
    width:26%;
    margin-left:26%;
}






