.widget-type-language_switcher {
  position: absolute;
  right: 120px;
  top: -35px;
    width: auto !important;
  @include media('>=tablet') {
    right: 66px;
    top: -46px;
    z-index: 9;
  }
}
.navigation {

    background: transparent;
    position: fixed;
    .navbar-shift
    {
        position: fixed;
        width: 70%;
        right: -100%;
        -webkit-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        transition: right 0.5s ease-in-out;
        z-index: 9;
        background: $blackMedium;
        height: 100vh;
        bottom: 0px;
        top: 0px;
        @include media('>=tablet') {
          width: 100%;
        }


        a{
          padding: 15px 0px;
          margin-left: 30px;
          font-size: 18px;
          width: auto;
              color: $white;
          @include media('>=tablet') {
            width: 100%;
          }



        }
        nav
        {
          margin-top: 80px;
          margin-left: 40px;
          margin-bottom: 15px;
          @include media('>=tablet') {
            margin-top: 30px;
            margin-left: 30px;
          }
          ul {

              list-style: none;
              display: block;
              margin: 0px;
              padding: 0px;
            }
        }


        .hs-menu-depth-1.hs-item-has-children {

          position: relative;
          .hs-menu-children-wrapper {
              a {
                font-size: 0;
                margin: 0;
                opacity: 0;
                padding: 0;
                /* fade out, then shrink */
                transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
              }
          }

          .fas {
            position: absolute;
            top: 12px;
            width: 40px;
            height: 30px;
            left:-18px;
            text-align: center;
            padding: 6px 8px 8px 8px;
            color: white;
            border: solid 2px;
            border-radius:4px;
              @include media('>=tablet') {
                display: none;
              }
          }

          &.active {
            .hs-menu-children-wrapper {
                  a {
                    position: relative;
                    transition: font-size .25s,
                    margin .25s,
                    padding .25s,
                    opacity .5s .25s;
                    font-size: 15px;
                    opacity: 1;
                    padding:10px 15px;
                  }
                  .hs-menu-depth-2
                  {
                    a {
                      margin-left: 35px;
                    }
                  }
                  .hs-menu-depth-3
                  {
                    a {
                      margin-left: 40px;
                    }
                  }
              }


          }
        }

        &.expanded{
          position: fixed;
          width: 70%;
          right: 0px;
          -webkit-transition: right 0.5s ease-in-out;
          -o-transition: right 0.5s ease-in-out;
          transition: right 0.5s ease-in-out;
          z-index: 9;
              overflow-y: auto;
        }

        .login {
            margin-left: 30px;


        }
    }
}

@include media('>=tablet') {
.navigation {
      background: transparent;
      z-index: 3;
      position: initial;
    height: 64px;
      .navbar-shift , .navbar-shift.expanded
      {
            position: relative;
            height: auto;
            background: transparent;
            right:0px;
            top:0px;
            nav{

              width: 100%;
              padding-top: 14px;
                  padding-left: 10px;
              margin: 0px;
              display: block;
                ul {
                  a{
                      color: $black;
                      }
                    word-break: break-word;
                    text-align: center;
                    display: flex;
                        width: 85%;
                    .hs-menu-depth-1.active,.hs-menu-depth-1.active-branch
                    {



                      & >a{
                        color:$green;

                        opacity: 1;
                        margin:0px;
                        &:after{
                          content: " ";
                          height :2px;
                          background:$green;
                          width: 90%;
                          display: block;
                          margin: auto;
                        }
                        }
                      }
                      .hs-menu-depth-2.active
                      {
                        & >a{
                          color:$green;

                          opacity: 1;
                          margin:0px;
                          &:after{
                            content: " ";
                            height :2px;
                            background:$green;
                            width: 90%;
                            display: block;
                            margin: auto;
                          }
                      }
                    }



                    .hs-menu-depth-1 {
                      width: 100%;
                      display: block;
                      height: 44px;
                      ul{
                        display: none;
                      }
                      .hs-menu-depth-2
                      {
                        & >a {
                          transition: initial !important;
                          text-align: center !important;
                          &:after{
                            content: " ";
                            height :2px;
                            width: 90%;
                            display: block;
                            margin: auto;
                          }
                        }
                      }

                      &:hover{
                        ul{
                          display: block;
                        }
                        & >a{
                          color:$green;

                          opacity: 1;
                                margin:0px;
                          &:after{
                            content: " ";
                            height :2px;
                            background:$green;
                            width: 90%;
                            display: block;
                            margin: auto;
                          }
                        }
                      }
                      &.hs-item-has-children
                      {
                        position: relative;
                      }
                        &:after{
                          display:  none !important;
                        }

                          a{
                            padding:10px 0px !important;
                            text-align: center;
                            opacity: 1;
                            font-size:12px;
                            margin:0px !important;
                          }

                          & > ul.hs-menu-children-wrapper {

                          }
                          &:hover > ul.hs-menu-children-wrapper {
                            position: absolute;
                            background: #fff;
                            width: 100%;
                            left: 0px;
                            top: 40px;
                            align-items: start;
                            justify-content: start;
                            box-shadow: 0 1px 6px 0px rgba(0, 0, 0, 0.2);
                            padding: 10px;
                            .hs-menu-depth-2
                            {

                              display: block;
                              & >a{
                                color:$black;
                                text-align: left;
                                opacity: 1;
                                margin:0px;
                                    transition: initial;
                                        font-size: 12px;
                              }

                              &:hover{

                                & >a{
                                  color:$green;
                                  text-align: left;
                                  opacity: 1;
                                        margin:0px;
                                  &:after{
                                    content: " ";
                                    height :2px;
                                    background:$green;
                                    width: 90%;
                                    display: block;
                                    margin: auto;
                                  }
                                }
                              }

                            }

                            .hs-menu-depth-2.hs-item-has-children
                            {
                                width:100%;
                                & >a{
                                  color:$green;
                                  text-align: left;
                                  opacity: 1;
                                      font-size: 12px;
                                        margin:0px;
                                  &:after{
                                    content: " ";
                                    height :2px;
                                    background:$green;
                                    width: 90%;
                                    display: block;
                                    margin: auto;
                                  }
                                }

                              & >.hs-menu-children-wrapper {
                                    display: block;
                                    .hs-menu-depth-3 {
                                        width: 100%;
                                        & >a{
                                          color:$black;
                                            text-align: left;
                                            opacity: 1;
                                                font-size: 12px;
                                                  margin:0px;
                                        }

                                    }
                              }

                            }
                        }
                    }
                }
            }

            .login {
              float: none;
                  width: auto;
                  margin-left: 0px;
                  position: absolute;
                  right: -15px;
                  top: 0px;
                      min-width: 60px;
                a{
                  padding:10px 10px;
                  background: $green;
                  text-align: center;
                  color: $white;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  height: 60px;
                  padding-top: 18px;

                  margin-left: 0px;

                }
            }
      }
  }
}


@include media('>=tablet-portrait') {
  .navigation {
    .navbar-shift , .navbar-shift.expanded
    {
      nav{
        padding-left: 0px;
        padding-top: 10px;

        ul {
          align-items: center;
          justify-content: center;
          width: 100%;
          .hs-menu-depth-1 {
            width: 136px;
            ul{

            }
            a{
              font-size: 17px !important;
              &:hover{
              }
            }
          }
        }
      }

    }
    .navbar-shift
    {
      nav{
        ul {
          .hs-menu-depth-1 {
                width: 148px;
          }
        }
      }
    }
  }
}
@include media('>=lgscreen') {
  .navigation {
    .navbar-shift , .navbar-shift.expanded
    {
      nav{
        padding-left: 0px;
        padding-top: 10px;
        ul {
          width: 100%;
          .hs-menu-depth-1 {
            a{
              font-size: 17px !important;
            }
          }
        }
      }

    }

    .navbar-shift
    {
      nav{
        ul {
          .hs-menu-depth-1 {
                width: 156px;
          }
        }
      }
    }

  }
}
