
.navigation {

    background: transparent;
    position: fixed;
    .navbar-shift
    {
        position: fixed;
        width: 100%;
        right: -100%;
        -webkit-transition: right 0.5s ease-in-out;
        -o-transition: right 0.5s ease-in-out;
        transition: right 0.5s ease-in-out;
        z-index: 9;
        background: $grayDark;
        height: 100vh;
        bottom: 0px;
            top: 0px;
        a{
          padding: 15px 0px;
          margin-left: 30px;
          font-size: 18px;
          width: 240px;
          @include media('>=tablet') {
            width: 100%;
          }
        }
        nav
        {
          margin-top: 60px;
          margin-left: 30px;
          ul {

              list-style: none;
              display: block;
              margin: 0px;
              padding: 0px;
            }
        }


        .hs-menu-depth-1.hs-item-has-children {

          position: relative;
          .hs-menu-children-wrapper {
              a {
                font-size: 0;
                margin: 0;
                opacity: 0;
                padding: 0;
                /* fade out, then shrink */
                transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
              }
          }

          .fas {
            position: absolute;
            top: 19px;
            width: 40px;
            height: 30px;
            right: 20px;
            text-align: center;
            padding: 8px;
            color: white;
            border: thin solid $white;
              @include media('>=tablet') {
                display: none;
              }
          }

          &.active {
            .hs-menu-children-wrapper {
                  a {
                    position: relative;
                    transition: font-size .25s,
                    margin .25s,
                    padding .25s,
                    opacity .5s .25s;
                    font-size: 15px;
                    opacity: 1;
                    padding:10px 15px;
                  }
                  .hs-menu-depth-2
                  {
                    a {
                      margin-left: 35px;
                    }
                  }
                  .hs-menu-depth-3
                  {
                    a {
                      margin-left: 40px;
                    }
                  }
              }


          }
        }

        &.expanded{
          position: fixed;
          width: 100%;
          right: 0px;
          -webkit-transition: right 0.5s ease-in-out;
          -o-transition: right 0.5s ease-in-out;
          transition: right 0.5s ease-in-out;
          z-index: 9;
              overflow-y: auto;
        }

        .login {
            margin-left: 30px;


        }
    }
}

@include media('>=tablet') {
.navigation {
      background: transparent;
      z-index: 3;
      position: initial;

      .navbar-shift , .navbar-shift.expanded
      {
            position: initial;
            height: auto;
            background: transparent;
            nav{
              width: 90%;
              float: left;
              padding-right: 0px;
              padding-left: 75px;
              margin-top: 0px;
              margin-left: 0px;
                ul {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    .hs-menu-depth-1 {
                      &.hs-item-has-children
                      {
                        position: initial;
                      }
                        &:after{
                          display:  none !important;
                        }
                        display: block;
                          max-width: 100%;
                          a{
                            padding:10px 15px !important;
                            text-align: center;
                            opacity: 1;
                            font-size: 15px;
                            margin:0px !important;
                          }

                          & > ul.hs-menu-children-wrapper {
                            display: none;
                          }
                          &:hover > ul.hs-menu-children-wrapper {
                            position: absolute;
                            background: #fff;
                            width: 100%;
                            left: 0px;
                            display: flex;
                            align-items: start;
                            justify-content: start;
                            .hs-menu-depth-2
                            {
                                width:100%;
                                & >a{
                                  color:$green;
                                  text-align: left;
                                  opacity: 1;
                                      font-size: 15px;
                                        margin:0px;
                                  &:after{
                                    content: " ";
                                    height :2px;
                                    background:$green;
                                    width: 100%;
                                    display: block;
                                  }
                                }

                              & >.hs-menu-children-wrapper {
                                    display: block;
                                    .hs-menu-depth-3 {
                                        width: 100%;
                                        & >a{
                                          color:$black;
                                            text-align: left;
                                            opacity: 1;
                                                font-size: 15px;
                                                  margin:0px;
                                        }

                                    }
                              }

                            }
                        }
                    }
                }
            }

            .login {
                float: left;
                width: 10%;
                margin-left: 0px;
                position: relative;
                a{
                  padding:10px 15px;
                  background: $green;
                  text-align: center;
                  color: $white;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  margin-bottom: 5px;
                }
            }
      }
  }
}
@include media('>=tablet-portrait') {
  .navigation {
    .navbar-shift , .navbar-shift.expanded
    {
      nav{
        padding-right: 0px;
        padding-left: 75px;
        ul {
          .hs-menu-depth-1 {
            width: 100%;
            a{
              font-size: 15px !important;
            }
          }
        }
      }

    }
  }
}
@include media('>=lgscreen') {
  .navigation {
    .navbar-shift , .navbar-shift.expanded
    {
      nav{
        padding-right: 80px;
        padding-left: 150px;
        ul {
          .hs-menu-depth-1 {
            a{
              font-size: 15px !important;
            }
          }
        }
      }

    }
  }
}
