.navigation {
      background: transparent;
      position: fixed;
      z-index: 3;

      .navbar-shift
      {


            nav{
              width: 90%;
              float: left;
              padding-right: 80px;
              padding-left: 150px;
                ul {
                    list-style: none;
                    display: block;
                    margin: 0px;
                    padding: 0px;
                    display:flex;
                    .hs-menu-depth-1 {
                      display: block;
                    }
                }
            }
        }
  }
