.recommended-products{
	text-align:center;
	background-color:$grayLighter;
	h1{
		margin:60px 0px;
	}
	.text{
		padding:5px 8px;
	}
	.product-underline{
		display:block;
		@include media('>=tablet') {
			display:none;
		}
	}
	img{
		height:200px;
		width:auto;
		@include media('>=tablet') {
			height:250px;
		}
	}

	.recommended-product {
    padding-top: 20px;
    padding-bottom: 20px;
	}
}
