.recommended-products-container{

	margin-left: 30px;
	margin-right: 30px;
	}
	.recommended-products{
		text-align:center;

		.text{
			padding:5px 8px;
		}
		.product-underline{
			display:block;
			@include media('>=tablet') {
				display:none;
			}
		}
		img{
			height:200px;
			width:auto;
			@include media('>=tablet') {
				height:250px;
			}
		}

		.recommended-products {

			min-height: 300px;
	    text-align: center;
	    @include media('>=tablet') {
	    	min-height: 480px;
	    }

		}
	}
	.recommended-products {
	    padding-top: 40px;
	    padding-bottom: 40px;
			padding-left: 50px;
			padding-right: 50px;
	}

	.wrap-recommended-product {
	    margin-bottom: 30px;
	}
