.recommended-products-container{
	/*margin:0 44px;*/
	}
	.recommended-products{
		text-align:center;

		.text{
			padding:5px 8px;
		}
		.product-underline{
			display:block;
			@include media('>=tablet') {
				display:none;
			}
		}
		img{
			height:200px;
			width:auto;
			    max-width: 100%;
			@include media('>=tablet') {
				height:250px;
			}
		}

		.recommended-products {

			min-height: 300px;
	    text-align: center;
	    @include media('>=tablet') {
	    	min-height: 480px;
	    }

		}
	}
	.recommended-products {
	    padding-top: 40px;
	    padding-bottom: 40px;
			height: 100%;
			@include media('>=tablet') {
				padding-right: 7%;
				padding-left: 7%;
			}
	}

	.wrap-recommended-product {
	    margin-bottom: 50px;
    	margin-top: 20px;
			p{
				padding-left: 15px;
    		padding-right: 15px;
			}
	}
