#hs_cos_wrapper_widget_1519139217104 {
  @include media('>=desktop') {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media('>=lgscreen') {
    padding-left: 180px;
    padding-right: 180px;
  }

  @include media('>=xlscreen') {
    padding-left: 280px;
    padding-right: 280px;
  }
}


.contact,.news-letter {


  @include media('>=desktop') {
    padding-left: 45px;
    padding-right: 16px;
  }

}
