#hs_cos_wrapper_widget_1519139217104 {
  @include media('>=desktop') {
    padding-left: 80px;
    padding-right: 80px;
  }


}


.contact,.news-letter {


  @include media('>=desktop') {
    padding-left: 45px;
    padding-right: 16px;
  }

}
