panel, tab {
    display: block;
    padding: 5px;
    text-align: center;
    background-color: #777;
    border-bottom: thin solid #555555;


}
tab {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}


a.hs-search-results__prev-page {
    font-size: 20px;
    float: left;
}

a.hs-search-results__next-page {
  font-size: 20px;
  float: right;
}
span.hs-search-highlight.hs-highlight-html {
    font-weight: 900;
}

.hs-search-results__pagination {
    margin-top: 21px;
}

panel {
    padding: 20px 20px;
    display: none;
    background-color: $white;
    h4{
      text-align: left;
    }
    ul{

      list-style: none;
      margin: 0px;
      padding: 0px;
      max-height: 153px;
      overflow: hidden;
      li{
          text-align: left;
          padding: 10px 0px;
          padding: 10px 0px;
          cursor: pointer;
          &.active{
            color:$green;
          }
      }
    }
    span{
      text-align: left;
      display: block;
      padding: 10px 0px;
      color:$green;
      cursor: pointer;
    }
}
