		
<div class="items-list-variations">
	<div class="row">
		<div class="col-md-12">
			<div class="row hidden-xs hidden-sm">
				<div class="col-md-4"><h4>Produkt variant</h4></div>
				<div class="col-md-2"><h4>typ</h4></div>
				<div class="col-md-2"><h4>Antal i fp</h4></div>
				<div class="col-md-2"><h4>Pris</h4></div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="items-wraper">
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-1</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >200</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
			
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-2</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >100</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
				
				<div class="clearfix items-item">
					<div class="col-md-4 col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-md-4">
								<div class="cart-image-box">
									<img alt="Plankalender två veckors"  src="/images/webthumbnail/6081360.jpg" >
								</div>
							</div>
							<div class="col-xs-12 col-md-8 text-xs-center  text-md-left">
								<h4>
									<a href="">Plankalender två veckors</a>
								</h4>
								<div class="full-width hidden-xs hidden-sm">
									<span>
										Artikelnummer: 6081360
									</span>
									<span>I lager</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left hidden-xs hidden-sm">
						<h4>
							<span class="cart-item-lable hidden-md hidden-lg">
								Egen märkning:
							</span>
							<span>typ-3</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="amount">
							<span class="cart-item-lable hidden-md hidden-lg">
								Antal:
							</span>
							<span >100</span>
						</h4>
						</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="price">
							<span class="cart-item-lable hidden-md hidden-lg">
								Pris:
							</span>
							<span >10067</span>
						</h4>
					</div>
					<div class="col-md-2 col-xs-12 text-xs-center  text-md-left">
						<h4 class="sum">
							<button class="btn btn-buy">Lägg i varukorg</button>
						</h4>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

