.circle-container {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 365px;
    height: 285px;
    float: right;
    top: 0px;
    right: 0px;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    color: $white;
    box-shadow: 0px 4px 14px 2px #656363;
    position: absolute;
    top: -120px;
    right: -35px;
    z-index: -1;
    .circle--text {
        float: left;
        width: 93%;
        padding-top: 50%;
        line-height: 1em;
        text-align: center;
        color: $white;
        font-size: 20px;
        font-weight: 600;
    }
    .circle__register {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 12px;
        padding-left: 50px;
        padding-right: 50px;
        .cta_button {
            display: block;
            bottom: 45px;
            padding: 5px 15px 5px 15px;
            color: $defTurquoise;
            border: solid $defTurquoise 2px;
            background: transparent;
            border-radius: 28px;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            margin: 0 auto;
        }
    }
}

.search-box {
    position: relative;
    bottom: 0px;
    width: 100%;
}

.rectangle {
    display: block;
    height: 150px;
    background: $black;
    position: relative;
    border-radius: 6px;
    opacity: .9;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    h3 {
        color: $white;
        text-align: center;
        display: block;
        font-size: 28px;
        margin-left: 0px;
        margin-top: 17px;
        position: relative;
        top: 20px;
    }
    .cta_button {
        display: block;
        padding: 5px 30px 5px 30px;
        margin: 0 auto;
        margin-top: 40px;
        left:-142px;
        margin-left:50%;
        color: $defTurquoise;
        border: solid $defTurquoise 2px;
        background: transparent;
        border-radius: 28px;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
    }
    .circle-rect {
        position: absolute;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        box-shadow: 0px 4px 14px 2px $greyLight;
        background: $defDarkBlueLight;
        top: -260px;
        left: -125px;
        margin-left: 50%;
        .circle-rect__consult,
        .circle-rect__company {
            display: inline-block;
            width: 100%;
            b {
                float: left;
                width: 95%;
                line-height: 1em;
                margin-top: 1.3em;
                text-align: center;
                color: $white;
                font-size: 35px;
                font-weight: 600;
            }
            span {
                float: left;
                width: 75%;
                line-height: 1em;
                margin-top: .1em;
                text-align: right;
                color: $white;
                font-weight: 600;
                font-size: 18px;
            }
        }
        .circle-rect__company {
            b {
                margin-top: 0.8em;
            }
        }
    }
}

@include media('>=tablet') {
    .circle {
        height: 400px;
        width: 400px;
        .circle--text {
            font-size: 25px;
        }
        .circle__register {
            padding-left: 40px;
            padding-right: 40px;
        }
        .circle__register .cta_button {
            padding: 10px 40px;
            width: 70%;
            bottom: 75px;
            right: 60px;
        }
    }
    .rectangle {
        padding-left: 40px;
        padding-right: 40px;
        h3 {
            top: 15px;
            left: 50%;
            position: absolute;
        }
        .cta_button {
            left: 49%;
            margin-top: 90px;
            margin-left:0;
            position: absolute;
        }
        .circle-rect {
            left: -53%;
            top: -110px;
            height: 350px;
            width: 350px;
            .circle-rect__consult b {
                margin-top: 2.8em;
            }
        }
    }
    .search-box {
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 100%;
        margin-left: -50%;
        padding-left: 5%;
        padding-right: 5%;
    }
}