.circle {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 4px 14px 2px #656363;
    position: absolute;
    top: -120px;
    right: -50px;
    z-index: -1;
    .circle--text {
        float: left;
        width: 92%;
        padding-top: 50%;
        line-height: 1em;
        margin-top: 1.3em;
        text-align: center;
        color: white;
        font-size: 28px;
        font-weight: 600;
    }
    .circle__register{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        button {
            
        }
    }
}

.rectangle {
    display: block;
    height: 150px;
    background: #65d1ae;
    position: relative;
    margin-top: 100px;
    .circle-rect {
        position: absolute;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: 3px solid white;
        margin-left: -85px;
        top: -42px;
        background: $defDarkBlueLight;
        }
}

@media (min-width: 992px) {
    .circle-container {
    margin-left: -485px;
    }
}
@media (min-width: 1200px) {
    .circle-container {
    margin-left: -585px;
    }
}
@media (min-width: 1601px) {
    .circle-container {
    margin-left: -785px;
    }
}   

