
//Primary Colors

//---- eye red ----//
$eyeRed: #E30613;
$eyeRedLight: #E6343E;
$eyeRedDark: #BA000B;

//---- eye orange ----//
$eyeOrange: #EB611C;
$eyeOrangeLight: #EF8149;
$eyeOrangeDark: #D05314;

//---- eye yellow ----//
$eyeYellow: #FFCE02;

//---- eye turquoise ----//
$eyeTurquoise: #78C7C9;
$eyeTurquoiseLight: #8FBBBC;
$eyeTurquoiseDark: #238083;

//---- eye light-blue ----//
$eyeLightBlue: #80B9E0;
$eyeLightBlueLight: #9AC7E7;
$eyeLightBlueDark: #B3D5ED;

//---- eye dark-blue ----//
$eyeDarkBlue: #00354E;
$eyeDarkBlueLight: #2A5F7B;
$eyeDarkBlueDark: #002739;


