@font-face {
  font-family: 'UniversBold';
  src: url("../fonts/UniversLTStd-BoldCn.woff") format("opentype"); }

  @font-face {
    font-family: 'CommerceThis';
    src: url("../fonts/font_384056_ovnfdzushziwwmi.woff") format("opentype"); }

@font-face {
  font-family: 'UniversLight';
  src: url("../fonts/UniversLTStd-LightCn.otf") format("opentype"); }

@font-face {
  font-family: 'UniversUltra';
  src: url("../fonts/UniversLTStd-UltraCn.woff2") format("opentype"); }

@font-face {
  font-family: 'MinionPro';
  src: url("../fonts/Minion Pro Regular.woff2") format("opentype"); }

@font-face {
  font-family: 'Arial';
  src: url("../fonts/Arial.ttf") format("opentype"); }
