<header class="header">
  <div class="container full-width">
    <div class="row">
      <div class=" col-lg-12 col-xs-12 navigation-menu" >
        <div class="row" style="position:relative; z-index: 2;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle--js " >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="links clearfix">

            <div class="span1 widget-span widget-type-logo general_logo" style="" data-widget-type="logo" data-x="0" data-w="1">
              <div class="cell-wrapper layout-widget-wrapper">
              <span id="hs_cos_wrapper_module_151697627425052" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_logo" style="" data-hs-cos-general-type="widget" data-hs-cos-type="logo"><a href="http://www.veidec.com" id="hs-link-module_151697627425052" style="border-width:0px;border:0px;"><img src="https://cdn2.hubspot.net/hub/4011209/hubfs/Graphics/Logo/logo_GW.png?t=1516978379209&amp;width=277&amp;name=logo_GW.png" class="hs-image-widget " style="width:277px;border-width:0px;border:0px;" width="277" alt="logo_GW.png" title="logo_GW.png"></a></span></div><!--end layout-widget-wrapper -->
            </div>
            <div class="navigation">
              <div class="navbar-shift navbar-shift--js" aria-expanded="true">
                <compontent src="../global/navigations.html"></compontent>
              </div>

            </div>
            <compontent src="../global/search.html"></compontent>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container full-width">
    <div class="row">
      <div class="navigation-bottom-color" id="navigation-bottom-color" style="display:none;"></div>
    </div>
  </div>
</header>
<script>

$('body').on('click', '.hs-menu-depth-1', function (e) {
  $('.hs-menu-depth-1').removeClass('active');
  $(this).addClass('active');
});

$('body').on('click', '.hs-menu-depth-1.active', function (e) {
  $(this).removeClass('active');
});


$('body').on('mousemove', '.navbar-shift--js', function (e) {

  $('#navigation-bottom-color').hide();
  if($(e.target).parents('.hs-item-has-children').length > 0)
  {
    $('#navigation-bottom-color').show();
  }

});

$('body').on('mouseleave', '.navbar-shift--js', function (e) {

  $('#navigation-bottom-color').hide();
});

$('.navbar-toggle--js').click(function(){
    $('.navbar-shift--js').toggleClass('expanded');
    $(this).toggleClass('active');
});


</script>
