<header class="header">
  <div class="container full-width">
    <div class="row">
      <div class=" col-lg-12 col-xs-12" style="overflow:hidden;">
        <div class="row" style="position:relative; z-index: 2;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle--js " >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="links clearfix">
            <div class="navigation">
              <div class="navbar-shift navbar-shift--js" aria-expanded="true">

                <compontent src="../global/navigations.html"></compontent>

              </div>
              <compontent src="../global/search.html"></compontent>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script>
  $('body').on('click', '.hs-menu-depth-1', function (e) {
    $('.hs-menu-depth-1').removeClass('active');
    $(this).addClass('active');
  });

  $('body').on('click', '.hs-menu-depth-1.active', function (e) {
    $(this).removeClass('active');
  });

  $('.navbar-toggle--js').click(function(){
      $('.navbar-shift--js').toggleClass('expanded');
      $(this).toggleClass('active');
  });


</script>
