<nav>
<ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1  hs-item-has-children active-branch">
    <a href="//veidec-4011209.hs-sites.com/sample-about">About</a>
    <div class="child-trigger"><i></i>
    </div>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2">
      <a href="/#">test</a>
      <ul class="hs-menu-children-wrapper">
       <li class="hs-menu-item hs-menu-depth-3"><a href="/#">test</a></li>
      </ul>
    </li>
   </ul>
 </li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children active-branch">

    <a href="/blog">Default</a>
    <ul class="hs-menu-children-wrapper">
     <li class="hs-menu-item hs-menu-depth-2"><a href="/#">test</a></li>
     <li class="hs-menu-item hs-menu-depth-2"><a href="/#">test</a></li>
     <li class="hs-menu-item hs-menu-depth-2"><a href="/#">test</a></li>
     <li class="hs-menu-item hs-menu-depth-2"><a href="/#">test</a></li>
    </ul>

  </li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="/blog">Default</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="/blog">Default</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="/blog">Default</a></li>
 </ul>
</nav>
<div class="path" id="breadcrumbs">
       <a href="/kund">login</a>
</div>
<!--/.nav-collapse -->
