<nav>
  <ul>
    <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children"><a href="//veidec-4011209.hs-sites.com/nyheter">Nyheter</a>
     <ul class="hs-menu-children-wrapper">
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children"><a href="javascript:;">Header</a>
       <ul class="hs-menu-children-wrapper">
        <li class="hs-menu-item hs-menu-depth-3"><a href="javascript:;">child</a></li>
        <li class="hs-menu-item hs-menu-depth-3"><a href="javascript:;">child</a></li>
        <li class="hs-menu-item hs-menu-depth-3"><a href="javascript:;">child</a></li>
       </ul></li>
      <li class="hs-menu-item hs-menu-depth-2 hs-item-has-children"><a href="javascript:;">Header</a>
       <ul class="hs-menu-children-wrapper">
        <li class="hs-menu-item hs-menu-depth-3"><a href="javascript:;">child</a></li>
        <li class="hs-menu-item hs-menu-depth-3"><a href="javascript:;">child</a></li>
       </ul></li>
     </ul></li>
    <li class="hs-menu-item hs-menu-depth-1"><a href="//veidec-4011209.hs-sites.com/om-oss">Om oss</a></li>
    <li class="hs-menu-item hs-menu-depth-1"><a href="javascript:;">Kontakt</a></li>
    <li class="hs-menu-item hs-menu-depth-1"><a href="javascript:;">Jobba hos oss </a></li>
   </ul>
</nav>

<div class="cart" >

</div>

<div class="login" >
       <a href="/login" style="display:none; ">login</a>
       <a href="/checkout" ><i class="hidden-xs fas fa-shopping-cart"></i><span class=" visible-xs">Checkout </span></a>
</div>
<!--/.nav-collapse -->
