<div class="row block-12">
    <div class="col-md-4 ">
      <div class="image-box ">
        <img class="img-responsive block--center_js" esrc="static/images/Portrait_skissbild.png"/>
      </div>
    </div>
    <div class="col-md-8 col-md-pull-1">
        <h2>A Society fick mitt nätverk att växa med 50%</h2>
        <p>Ex nisi consequat aliquip officia in sint quis consequat ut in dolore qui. Cupidatat et est magna irure labore magna
            pariatur. Ea occaecat laborum voluptate laboris ut commodo dolore deserunt aliquip cupidatat adipisicing. Nostrud
            eu veniam laboris qui amet laborum qui. Laborum sint non aliquip consectetur. Lorem deserunt officia consectetur
            amet tempor ipsum in non cillum.</p>
    </div>
</div>
