<footer>
<div class="container">
  <compontent src="../general/row.html"  data='{"backgroundColor":"","backgroundImage":""}'>
      <div class="col-lg-3">
                <compontent src="/components/modules/general/link-list.html" data='{"links":[
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"}]}' >
                </compontent>
      </div>
      <div class="col-lg-3">
                <compontent src="/components/modules/general/link-list.html" data='{"links":[
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"}]}' >
                </compontent>
      </div>
      <div class="col-lg-3">
                <compontent src="/components/modules/general/link-list.html" data='{"links":[
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"}]}' >
                </compontent>
      </div>
      <div class="col-lg-3">
                <compontent src="/components/modules/general/link-list.html" data='{"links":[
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"},
                     {"text": "Croatia", "link": "#"}]}' >
                </compontent>
      </div>
    </compontent>
      </div>
</footer>
