<div class="container full-width">
  <div class="row grad--darkerBlue-turquoise">
    <header class="header col-lg-12 col-xs-12 nopadding">
      <div clas="clearfix" style="position:relative;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="links clearfix">
          <div class="language">
            <ul>
              <li>
                <a>In English </a>
                <ul id="new-language-picker" style="display:none;">
                  <li>
                    <a href="//www.sigmaitc.se/sv/">Svenska</a>
                  </li>
                  <li>
                    <a href="//www.sigmaitc.se/en/">Engelska</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navigation">
            <div id="navbar" class="navbar-collapse collapse " aria-expanded="true">
              <compontent src="../global/navigations.html"></compontent>
            </div>
          </div>
          <div class="path">
            <a href="//veidec-4011209.hs-sites.com/sample-about">Kund</a>
          </div>
        </div>
      </div>
      <div class="society_logo">
        <img class="img-responsive" esrc="/static/images/A_Society_green_whitedots.png" />
      </div>
    </header>
  </div>
</div>
<script>
  $('body').on('click', '.hs-menu-depth-1', function (e) {
    $('.hs-menu-depth-1').removeClass('active');
    $(this).addClass('active');
  });

  $('body').on('click', '.hs-menu-depth-1.active', function (e) {
    $(this).removeClass('active');
  });
</script>
