<nav>
<ul class="active-branch">
  <li class="hs-menu-item hs-menu-depth-1  hs-item-has-children active-branch"><a href="//veidec-4011209.hs-sites.com/sample-about">Sample About Page</a> <div class="child-trigger"><i></i></div>
   <ul class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2"><a href="/#">test</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="//veidec-4011209.hs-sites.com/sample-contact">Sample Contact Page</a></li>
  <li class="hs-menu-item hs-menu-depth-1"><a href="/blog">Default HubSpot Blog</a></li>
 </ul>
</nav>
<!--/.nav-collapse -->
