
<div class="col-md-4 news--block" style="background-image: url(http://via.placeholder.com/500x350)">
    <div class="news--block__inner">
        <div class="news--block--header">
            <span class="news--block--header__date">22/5</span>
            <h4 class="news--block--header__title">Nyhetsrubrik</h4>
        </div>
    </div>
</div>
<div class="col-md-4 news--block" style="background-image: url(http://via.placeholder.com/500x350)">
    <div class="news--block__inner">
        <div class="news--block--header">
            <span class="news--block--header__date">22/5</span>
            <h4 class="news--block--header__title">Nyhetsrubrik</h4>
        </div>
    </div>
</div>
<div class="col-md-4 news--block" style="background-image: url(http://via.placeholder.com/500x350)">
    <div class="news--block__inner">
        <div class="news--block--header">
            <span class="news--block--header__date">22/5</span>
            <h4 class="news--block--header__title">Nyhetsrubrik</h4>
        </div>
    </div>
</div>
