<div class="row">

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/business-manager-jonkoping">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/Soffa_Kaffekopp_Malm%C3%B6.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Business Manager till vårt Jönköpingskontor</h4>

                        </div>
                  </div>
         </a>
    </div>

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/gdpr-kvall-goteborg">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/m%C3%A4nniskor_milj%C3%B6_S%20v%C3%A4nd-1.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Informationskväll om GDPR hos A Society Göteborg 12 mars</h4>

                        </div>
                  </div>
         </a>
    </div>

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/partner-manager-linkoping">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/Erica_Nilsbacken_omgivning-1.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Partner Manager till A Society Linköping</h4>

                        </div>
                  </div>
         </a>
    </div>

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/business-manager-gothenburg">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/Milj%C3%B6_m%C3%A4nniskor-1.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Business Manager till Göteborg</h4>

                        </div>
                  </div>
         </a>
    </div>

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/business-manager-linkoping">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/Per-Anders%20och%20Jennie%20omgivning.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Business Manager till A Society Linköping</h4>

                        </div>
                  </div>
         </a>
    </div>

     <div class="col-md-4 news--block ">
         <a href="//www.asociety.se/nyheter/business-manager-malmo">
                <div class="news-wrapper">

                        <div class="case-image news-image" style="background-image:url(https://www.asociety.se/hubfs/nyhet3_liten.jpg?t=1519806096886)"></div>



                      <div class="news--block__fadding">
                      </div>

                        <div class="news--block--header">
                            <span class="news--block--header__date"></span>
                            <h4 class="news--block--header__title">Business Manager till vårt Malmökontor</h4>

                        </div>
                  </div>
         </a>
    </div>

</div>
