

<div class="container">
	<div class="row">
		<div class="col-md-12 col-centered">

       <h1 >Om VEIDEC</h1>
      <p>Våra kunder har alla en sak gemensamt: de använder bara produkter av högsta kvalitet och nöjer sig inte med mindre än världsklass.</p>

        <p>VEIDEC Group AB är en svensk koncern som utvecklar avancerade produkter för reparation och underhåll.
           Våra kunder är professionella yrkespersoner som kan hittas i många olika typer av industrier, verksamheter och funktioner. För närvarande är vi representerade i 18 länder i Europa.
            I Sverige säljs produkterna av VEIDEC Sverige AB som har högsta kreditvärdighet enligt kreditvärderingsföretaget Bisnode. VEIDEC Group AB omsatte 161 miljoner kronor under 2016.  </p>

        <p>Utöver ett brett kundansvar känner VEIDEC ett genuint ansvar för miljön. Därför arbetar vi kontinuerligt och målmedvetet med miljöfrämjande aktiviteter.
          Ett flertal av våra produkter är godkända och certifierade av bland annat NSF. Vi är väl uppdaterade om den nya europeiska kemikalielagstiftningen REACH.
           VEIDEC AB är även certifierat enligt ISO 14001 för miljöstyrning sedan år 2002, samt certifierat enligt ISO 9001 för kvalitetsstyrning.  </p>

<!--end widget-span -->

    </div>
  </div>
</div>
