
<div class="container">
	<div class="row">
		<div class="col-md-12 col-centered">
			<h1>Produktområden</h1>
			<div class="big-vid-screen">
				<iframe src="https://player.vimeo.com/video/234653771" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div><!--TEMP video-->
			<h2>Hur används våra produkter?</h2>
			<hr class="short-underline">
			<h4>Inom hela vår verksamhet arbetar vi enligt kvalitets- och miljösäkrade processer. Vi har en ambition och drivkraft att vara ett föredöme och ständigt förbättra vår verksamhet för att minska påverkan på miljön.</h4>
			<div class="row">
				<compontent src="../modules/general/produkt"></compontent>
				<compontent src="../modules/general/produkt"></compontent>
				<compontent src="../modules/general/produkt"></compontent>
			</div>
		</div>
	</div>
</div>
