<div class="container  recommended-products-container">
        <div class="row">
            <div class="col-md-12  col-centered">
                <div class="row ">
                    <div class="col-md-12 wrap-recommended-product">
            			<div class="recommended-products base--silverLight">
            			    <img src="https://cdn2.hubspot.net/hubfs/4011209/Graphics/Products/multi_clean_20_liter_25279_mcl_webb.png?t=1522927709032" style="width:70%;height:auto;">
            				<h3>Multi Clean - MCL (20 l)</h3>
            				<p>
                			All-purpose cleaner A highly concentrated cleaning and degreasing agent with many applications. Cleans and dissolves very effectively surfaces from grease, oil, resin, wax, algae, tar, asphalt residue, and coffee stains etc. Guaranteed economical application. Can be used in concentrated form, but is effective in mixtures of 1:40 with water. Does not foam and is suitable for use in scouring machines, high-pressure wash jets and for automatic wash systems. Is not flammable and does not contain abrasive subtances. Eco and user friendly, and biologically decomposable. Perfect for cleaning and degreasing surfaces before painting, on metal, wood, plastic, concrete, painted surfaces, porcelain, ceramic. glass, and stone etc. Approved and classed by NSF for use on surfaces in and around food production, kitchens and dining rooms.
                			</p>
                            <div class="text-left">
                                <form class="text-left form-order clearfix add-order--js" style="width:50%;margin: 0 auto;">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                          <label>Amount:</label>
                                          <input type="number" class="form-control" value="1" id="usr">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input">
                    			            <button class="btn btn-showmore add-to-cart--js" data="5680132411" style="margin-top: 15px;width: 100%;">Order</button>
                    			        </div>
                			        </div>
                			    </form>
                			</div>
            			</div>
                    </div>
                 </div>
            </div>
       </div>
</div>
