
<compontent src="../modules/general/container.html"  data='{"backgroundColor":"base--white","backgroundImage":""}'>
  <compontent src="row.html"  data='{"backgroundColor":"base--white","backgroundImage":""}'>
    <div class="col-lg-2">
      <compontent src="/components/modules/global/sidebar" ></compontent>
    </div>
      <div class="col-lg-8">
        <compontent src="/components/contents/trailing"></compontent>
      </div>
      <div class="col-lg-2">
        <compontent src="/components/modules/global/ads"></compontent>
      </div>
  </compontent>
</compontent>
